@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.system-requirements {
  position: relative;
  background-position: center center;
  background-color: black;
}
.system-requirements .system-requirements-inner {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
}
@media screen and (max-width: 1024px) {
  .system-requirements .system-requirements-inner {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .system-requirements .system-requirements-inner {
    width: 100%;
    padding: 50px 0;
  }
}
.system-requirements .system-requirements-header {
  text-align: center;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #dbbd40;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
  margin: 0 auto 45px;
}
.system-requirements .table-container {
  width: 100%;
}
@media screen and (max-width: 350px) {
  .system-requirements .table-container {
    overflow-x: scroll;
  }
}
.system-requirements .system-reqs-table {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #ffffff;
  text-transform: uppercase;
}
.system-requirements .system-reqs-table .col-1 {
  width: 20%;
}
.system-requirements .system-reqs-table .col-2 {
  width: 40%;
}
.system-requirements .system-reqs-table .col-3 {
  width: 40%;
}
.system-requirements .system-reqs-table .table-header {
  font-size: 20px;
  text-shadow: none;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .system-requirements .system-reqs-table .table-header {
    font-size: 11px;
    letter-spacing: 1px;
  }
}
.system-requirements .system-reqs-table th {
  padding: 15px;
}
.system-requirements .system-reqs-table td {
  font-size: 12px;
  line-height: 20px;
  text-shadow: none;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .system-requirements .system-reqs-table td {
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    border-right: 1px solid #adabab;
  }
  .system-requirements .system-reqs-table td:last-of-type {
    border-right: none;
  }
}
.system-requirements .system-reqs-table tr {
  border-bottom: 1px solid #adabab;
}
.system-requirements .system-reqs-table tr:last-of-type {
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .system-requirements .system-reqs-table tr:last-of-type {
    border-bottom: 1px solid #adabab;
  }
}
