@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.text-section-container .copy-container .pc-exclusive-container {
  max-width: 200px;
  margin: 0 auto;
}
.text-section-container .copy-container .pc-exclusive-container .pc-exclusive-text {
  text-transform: uppercase;
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}
.text-section-container .copy-container .pc-exclusive-container .component-image {
  min-height: 100px !important;
}
