@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;display=swap');
.top-game-menu {
  background: transparent !important;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -ms-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
}
.game-header.g-collapse .top-game-menu {
  background: rgba(0, 0, 0, 0.8) !important;
}
.top-game-menu .top-game-left .top-game-logo .logo-desktop {
  width: 245px !important;
  height: 30px;
}
.top-game-menu .top-game-left .top-game-logo .logo-mobile {
  width: 40px !important;
  height: 40px !important;
  display: none;
}
.top-game-menu .top-game-right .top-game-buy a {
  display: none !important;
  padding: 17px;
  text-decoration: none;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 1px 1px 1px black;
  color: #000;
  text-shadow: none;
  background-color: #ffe93c;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  margin: 30px auto;
  border: 1px solid #ffe93c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-game-menu .top-game-right .top-game-buy a:hover {
  color: #ffe93c;
  background-color: #000;
}
@media screen and (max-width: 1140px) {
  .top-game-menu {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  .top-game-menu .top-game-left .top-game-logo .logo-desktop {
    display: none;
  }
  .top-game-menu .top-game-left .top-game-logo .logo-mobile {
    display: block;
  }
  .top-game-menu .top-game-right .top-game-buy a {
    min-width: 160px;
  }
}
.cod-global-header-container .desktop-header .nav-right {
  min-width: 550px;
}
.cod-global-header .mobile-header .mobile-top-nav .mobile-purchase a {
  display: none;
}
.cod-game-header-container .desktop-header .nav-right .purchase a,
.cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a {
  display: none !important;
  padding: 18px 17px;
  text-decoration: none;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 1px 1px 1px black;
  font-size: 14px;
  line-height: 13px;
  color: #000;
  text-shadow: none;
  background-color: #ffe93c;
  background-image: none;
  text-transform: uppercase;
  border: 1px solid #ffe93c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cod-game-header-container .desktop-header .nav-right .purchase a:hover,
.cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a:hover {
  background-color: #ffe93c;
  color: #000;
}
.cod-game-header-container .desktop-header .nav-left .game-logo img {
  height: 40px;
}
html[lang='ru'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='fr'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='fr-CA'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='pt-BR'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='pt'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='de'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='es'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='es'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a,
html[lang='es-MX'] .cod-game-header .mobile-header .mobile-top-nav .mobile-purchase a {
  font-size: 10px;
  letter-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;display=swap');
.atvi-agegate {
  background: #fff !important;
  z-index: 10000;
}
.atvi-agegate .form h2 {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  color: #ffe93c;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 24px;
}
@media screen and (max-width: 480px) {
  .atvi-agegate .form h2 {
    font-size: 36px;
    letter-spacing: 4px;
  }
}
.atvi-agegate .form .fields input {
  background-color: white;
  border: 2px solid black;
  padding: .5em;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 14px;
}
.atvi-agegate .form .fields ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.atvi-agegate .form .fields ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
.atvi-agegate .form .fields :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.atvi-agegate .form .fields :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
@media screen and (max-width: 480px) {
  .atvi-agegate .form .fields input {
    padding: .3em;
    margin-right: 0;
  }
}
.atvi-agegate .form .submit-wrapper a {
  display: block;
  max-width: 300px;
  width: 80%;
  text-decoration: none;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #fff;
  line-height: 25px;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: none;
  color: #000;
  text-shadow: none;
  background-color: #ffe93c;
  font-size: 25px;
  text-transform: uppercase;
  padding: 20px;
  margin: 0 auto 15px;
  border: 1px solid #ffe93c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.atvi-agegate .form .submit-wrapper a:hover {
  color: #ffe93c;
  background-color: #000;
  box-shadow: #ffe93b 0px 0px 15px, #000000 0px 6px 60px 15px;
}
@media screen and (max-width: 1400px) {
  .atvi-agegate .form .submit-wrapper a {
    font-size: 14px;
    padding: 10px;
    max-width: 200px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;display=swap');
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .cod-global-header-container .desktop-header .nav-left .global-top-nav ul li:nth-child(3) {
    display: none;
  }
}
html[lang='fr'] .cod-global-header-container .desktop-header .nav-right,
html[lang='fr-CA'] .cod-global-header-container .desktop-header .nav-right,
html[lang='de'] .cod-global-header-container .desktop-header .nav-right,
html[lang='pt-BR'] .cod-global-header-container .desktop-header .nav-right,
html[lang='ru'] .cod-global-header-container .desktop-header .nav-right {
  min-width: 700px;
}
html[lang='fr'] .cod-global-header-container .desktop-header .nav-left .global-top-nav ul li:nth-child(3),
html[lang='fr-CA'] .cod-global-header-container .desktop-header .nav-left .global-top-nav ul li:nth-child(3),
html[lang='de'] .cod-global-header-container .desktop-header .nav-left .global-top-nav ul li:nth-child(3),
html[lang='pt-BR'] .cod-global-header-container .desktop-header .nav-left .global-top-nav ul li:nth-child(3),
html[lang='ru'] .cod-global-header-container .desktop-header .nav-left .global-top-nav ul li:nth-child(3) {
  display: none;
}

