@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
.footer-container {
  padding: 40px 0px;
  background: #111111;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  position: relative;
}
.footer-container .inner-container {
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer-container .inner-container:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.footer-container .footer-left {
  float: left;
  width: 40%;
}
.footer-container .footer-left:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.footer-container .footer-left .logos {
  float: left;
  width: 40%;
}
.footer-container .footer-left .logos li {
  margin-bottom: 10px;
}
.footer-container .footer-left .logos li a {
  display: block;
}
.footer-container .footer-left .logos img {
  width: 100%;
  display: block;
}
.footer-container .footer-left .esrb {
  float: right;
  width: 40%;
}
.footer-container .footer-left .esrb img {
  width: 100%;
  display: block;
}
.footer-container .footer-right {
  float: right;
  width: 53%;
  font-size: 13px;
  line-height: 1.15;
}
.footer-container .footer-right .footer-links {
  margin: 0 0 20px 0;
  margin: 0 0 40px 0;
}
.footer-container .footer-right .footer-links .footer-locale-selector {
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 10px;
}
.footer-container .footer-right .footer-links .footer-locale-selector .atvi-locale-selector .locale-list {
  width: 350px;
}
.footer-container .footer-right .footer-links > ul {
  display: inline-block;
}
.footer-container .footer-right .footer-links > ul > li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}
.footer-container .footer-right .footer-links > ul > li a {
  color: #597985;
  text-decoration: none;
  transition: all .2s;
}
.footer-container .footer-right .footer-links > ul > li a:hover {
  color: #345b78;
}
.footer-container .footer-right .footer-links > ul > li a {
  color: #a9a6a1;
}
.footer-container .footer-right .copyright {
  color: #a9a6a1;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .footer-container .footer-left .logos,
  .footer-container .footer-left .esrb {
    float: none;
    width: 100%;
  }
  .footer-container .footer-right .footer-links ul li {
    display: block;
    margin-bottom: 15px;
  }
}
.footer-container .footer-locale-selector {
  margin-bottom: 45px;
  text-align: center;
}
.footer-container .footer-locale-selector .atvi-locale-selector {
  display: block;
}
.footer-container .footer-locale-selector .atvi-locale-selector a {
  color: #FFF;
}
@media screen and (max-width: 480px) {
  .footer-container .footer-locale-selector .atvi-locale-selector .region {
    font-size: 9px;
  }
}
.footer-container .footer-locale-selector .close-button {
  display: none;
}
.footer-container .footer-locale-selector .locale-menu {
  position: absolute;
  bottom: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 100;
}
.footer-container .footer-locale-selector .locale-list {
  background: #4a4a4a;
  width: 450px;
  text-align: left;
}
.footer-container .footer-locale-selector .locale-list .locale-entry {
  width: 45%;
}
.footer-container .footer-locale-selector .locale-list .locale-entry.loc-mx.MX {
  display: none;
}
@media screen and (max-width: 480px) {
  .footer-container .footer-locale-selector .locale-list .locale-entry {
    width: 49%;
  }
}
@media screen and (max-width: 680px) {
  .footer-container .footer-locale-selector .locale-list {
    width: 475px;
  }
}
@media screen and (max-width: 480px) {
  .footer-container .footer-locale-selector .locale-list {
    width: 375px;
  }
}
.footer-container .atvi-locale-selector .CN .flag,
.footer-container .atvi-locale-selector .TW .flag {
  opacity: 0;
}
.footer-container .atvi-locale-selector .locale-entry.CN .flag,
.footer-container .atvi-locale-selector .locale-entry.TW .flag {
  display: none;
}
.footer-container .atvi-locale-selector a.CN > .region,
.footer-container .atvi-locale-selector a.TW > .region {
  display: block;
  color: #fff;
}
html[lang='de'] .footer-left .esrb {
  width: 100px;
}
html[lang='ja'] .footer-left .esrb,
html[lang='zh-TW'] .footer-left .esrb,
html[lang='zh-CN'] .footer-left .esrb,
html[lang='ru'] .footer-left .esrb,
html[lang='pt-BR'] .footer-left .esrb {
  width: 100px;
}
html[lang='ko'] .footer-container .inner-container {
  width: 90%;
}
html[lang='ko'] .footer-container .footer-left .esrb {
  width: 55%;
}
@media screen and (max-width: 768px) {
  html[lang='ko'] .footer-container .footer-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  html[lang='ko'] .footer-container .footer-left .esrb {
    width: 100%;
  }
  html[lang='ko'] .footer-container .footer-right {
    float: none;
    width: 100%;
  }
}
