.sms-registration-container {
  display: none;
  z-index: 100000000;
}
.sms-registration-container .sms-form .legal-disclaimer a {
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
.sms-registration-container {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.sms-registration-container.background-theme {
  position: relative;
}
.sms-registration-container.background-theme .sms-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.sms-registration-container.background-theme .sms-main .modal-container {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #f07113;
  /***FORM***/
  /***LEGAL***/
  /***SUBMIT BUTTON***/
  /***SUBMIT MESSAGES***/
}
.sms-registration-container.background-theme .sms-main .modal-container .background-container .background-desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sms-registration-container.background-theme .sms-main .modal-container .background-container .background-mobile {
  display: none;
}
.sms-registration-container.background-theme .sms-main .modal-container .content-container {
  position: relative;
  float: right;
  width: 50%;
  text-align: center;
  margin: 40px auto;
}
.sms-registration-container.background-theme .sms-main .modal-container .content {
  width: 70%;
  margin: 0 auto;
}
.sms-registration-container.background-theme .sms-main .modal-container .copy-container .dark-theme-copy,
.sms-registration-container.background-theme .sms-main .modal-container .copy-container .light-theme-copy,
.sms-registration-container.background-theme .sms-main .modal-container .copy-container .side-theme-copy {
  display: none;
}
.sms-registration-container.background-theme .sms-main .modal-container .header {
  color: #f07113;
  font-size: 22px;
}
.sms-registration-container.background-theme .sms-main .modal-container .sub-header {
  color: #fff;
  font-size: 22px;
  margin: 20px auto 25px;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form input[type='text'] {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
  color: #f07113;
  margin-bottom: 15px;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .phone-number input {
  width: 90%;
  height: 30px;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
  color: #f07113;
  margin: 15px auto;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth .dob-flex {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 25px;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth input {
  height: 30px;
  min-width: 60px;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth input::placeholder {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #000;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #000;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth .field-label {
  display: none;
}
.sms-registration-container.background-theme .sms-main .modal-container .legal-disclaimer {
  color: #fff;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}
.sms-registration-container.background-theme .sms-main .modal-container .legal-disclaimer a {
  color: #fff;
  text-decoration: underline;
}
.sms-registration-container.background-theme .sms-main .modal-container .legal-disclaimer a:hover {
  color: #f07113;
}
.sms-registration-container.background-theme .sms-main .modal-container .legal-disclaimer a:visited {
  color: #fff;
}
.sms-registration-container.background-theme .sms-main .modal-container .submit-button {
  width: 90%;
  height: 40px;
  background-color: #f07113;
  color: #000;
  border: none;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin: 25px auto;
}
.sms-registration-container.background-theme .sms-main .modal-container .submit-messages {
  color: #fff;
}
.sms-registration-container.background-theme .sms-main .modal-container .submit-messages .error-message {
  display: none;
}
.sms-registration-container.background-theme .sms-main .modal-container .submit-messages .success-message {
  display: none;
}
.sms-registration-container.background-theme .sms-main .modal-container .close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sms-registration-container.background-theme .sms-main .modal-container .close-button:after {
  content: "+";
  color: #FFF;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1280px) {
  .sms-registration-container.background-theme .sms-main .modal-container .content-container {
    width: 65%;
  }
}
@media screen and (max-width: 1023px) {
  .sms-registration-container.background-theme .sms-main .modal-container {
    background-color: #000;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .background-container .background-desktop {
    position: relative;
    padding-bottom: 50%;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .content-container {
    width: 100%;
    float: none;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .content-container .content {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .sms-registration-container.background-theme .sms-main .modal-container {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .sms-registration-container.background-theme .sms-main {
    overflow-y: scroll;
  }
  .sms-registration-container.background-theme .sms-main .modal-container {
    top: 55%;
    width: 85%;
    margin: 40px auto;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .header,
  .sms-registration-container.background-theme .sms-main .modal-container .sub-header {
    font-size: 15px;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
    font-size: 12px;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
    font-size: 12px;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .sms-form .date-of-birth input {
    min-width: 50px;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .submit-messages {
    font-size: 12px;
  }
  .sms-registration-container.background-theme .sms-main .modal-container .legal-disclaimer {
    font-size: 9px;
  }
  .sms-registration-container.background-theme .sms-main .content-container {
    margin: 25px auto;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
.sms-registration-container {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.sms-registration-container.dark-theme {
  position: relative;
}
.sms-registration-container.dark-theme .sms-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.sms-registration-container.dark-theme .sms-main .modal-container {
  max-width: 470px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  /***FORM***/
  /***LEGAL***/
  /***SUBMIT BUTTON***/
  /***SUBMIT MESSAGES***/
}
.sms-registration-container.dark-theme .sms-main .modal-container .background-container {
  display: none;
}
.sms-registration-container.dark-theme .sms-main .modal-container .content-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 40px auto;
}
.sms-registration-container.dark-theme .sms-main .modal-container .content {
  width: 70%;
  margin: 0 auto;
}
.sms-registration-container.dark-theme .sms-main .modal-container .copy-container .bg-theme-copy,
.sms-registration-container.dark-theme .sms-main .modal-container .copy-container .light-theme-copy,
.sms-registration-container.dark-theme .sms-main .modal-container .copy-container .side-theme-copy {
  display: none;
}
.sms-registration-container.dark-theme .sms-main .modal-container .header {
  color: #f07113;
  font-size: 22px;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sub-header {
  color: #fff;
  font-size: 22px;
  margin: 20px auto 25px;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form input[type='text'] {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
  color: #f07113;
  margin-bottom: 15px;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .phone-number input {
  width: 90%;
  height: 30px;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
  color: #f07113;
  margin: 15px auto;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth .dob-flex {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 25px;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth input {
  height: 30px;
  min-width: 60px;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth input::placeholder {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #000;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #000;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth .field-label {
  display: none;
}
.sms-registration-container.dark-theme .sms-main .modal-container .legal-disclaimer {
  color: #fff;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}
.sms-registration-container.dark-theme .sms-main .modal-container .legal-disclaimer a {
  color: #fff;
  text-decoration: underline;
}
.sms-registration-container.dark-theme .sms-main .modal-container .legal-disclaimer a:hover {
  color: #f07113;
}
.sms-registration-container.dark-theme .sms-main .modal-container .legal-disclaimer a:visited {
  color: #fff;
}
.sms-registration-container.dark-theme .sms-main .modal-container .submit-button {
  width: 90%;
  height: 40px;
  background-color: #f07113;
  color: #000;
  border: none;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin: 25px auto;
}
.sms-registration-container.dark-theme .sms-main .modal-container .submit-messages {
  color: #fff;
}
.sms-registration-container.dark-theme .sms-main .modal-container .submit-messages .error-message {
  display: none;
}
.sms-registration-container.dark-theme .sms-main .modal-container .submit-messages .success-message {
  display: none;
}
.sms-registration-container.dark-theme .sms-main .modal-container .close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sms-registration-container.dark-theme .sms-main .modal-container .close-button:after {
  content: "+";
  color: #FFF;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .sms-registration-container.dark-theme .sms-main .modal-container {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .sms-registration-container.dark-theme .sms-main {
    overflow-y: scroll;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container {
    width: 85%;
    margin: 40px auto;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .header,
  .sms-registration-container.dark-theme .sms-main .modal-container .sub-header {
    font-size: 15px;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .content {
    width: 90%;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
    font-size: 12px;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
    font-size: 12px;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .sms-form .date-of-birth input {
    min-width: 50px;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .submit-messages {
    font-size: 12px;
  }
  .sms-registration-container.dark-theme .sms-main .modal-container .legal-disclaimer {
    font-size: 9px;
  }
  .sms-registration-container.dark-theme .sms-main .content-container {
    margin: 25px auto;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
.sms-registration-container {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.sms-registration-container.light-theme {
  position: relative;
}
.sms-registration-container.light-theme .sms-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.sms-registration-container.light-theme .sms-main .modal-container {
  max-width: 470px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  /***FORM***/
  /***LEGAL***/
  /***SUBMIT BUTTON***/
  /***SUBMIT MESSAGES***/
}
.sms-registration-container.light-theme .sms-main .modal-container .background-container {
  display: none;
}
.sms-registration-container.light-theme .sms-main .modal-container .content-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 40px auto;
}
.sms-registration-container.light-theme .sms-main .modal-container .content {
  width: 70%;
  margin: 0 auto;
}
.sms-registration-container.light-theme .sms-main .modal-container .copy-container .bg-theme-copy,
.sms-registration-container.light-theme .sms-main .modal-container .copy-container .dark-theme-copy,
.sms-registration-container.light-theme .sms-main .modal-container .copy-container .side-theme-copy {
  display: none;
}
.sms-registration-container.light-theme .sms-main .modal-container .small-header {
  font-size: 22px;
  margin-bottom: 15px;
}
.sms-registration-container.light-theme .sms-main .modal-container .large-header {
  font-size: 28px;
  margin-bottom: 25px;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form input[type='text'] {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
  color: #f07113;
  margin-bottom: 15px;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .phone-number input {
  width: 90%;
  height: 30px;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
  color: #f07113;
  margin: 15px auto;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth .dob-flex {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 25px;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth input {
  height: 30px;
  min-width: 60px;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth input::placeholder {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
.sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth .field-label {
  display: none;
}
.sms-registration-container.light-theme .sms-main .modal-container .legal-disclaimer {
  color: #000;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}
.sms-registration-container.light-theme .sms-main .modal-container .legal-disclaimer a {
  color: #000;
  text-decoration: underline;
}
.sms-registration-container.light-theme .sms-main .modal-container .legal-disclaimer a:hover {
  color: #f07113;
}
.sms-registration-container.light-theme .sms-main .modal-container .legal-disclaimer a:visited {
  color: #000;
}
.sms-registration-container.light-theme .sms-main .modal-container .submit-button {
  width: 90%;
  height: 40px;
  background-color: #f07113;
  color: #000;
  border: none;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin: 25px auto;
}
.sms-registration-container.light-theme .sms-main .modal-container .submit-messages {
  color: #000;
}
.sms-registration-container.light-theme .sms-main .modal-container .submit-messages .error-message {
  display: none;
}
.sms-registration-container.light-theme .sms-main .modal-container .submit-messages .success-message {
  display: none;
}
.sms-registration-container.light-theme .sms-main .modal-container .close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sms-registration-container.light-theme .sms-main .modal-container .close-button:after {
  content: "+";
  color: #000;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .sms-registration-container.light-theme .sms-main .modal-container {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .sms-registration-container.light-theme .sms-main {
    overflow-y: scroll;
  }
  .sms-registration-container.light-theme .sms-main .modal-container {
    width: 85%;
    margin: 40px auto;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .header,
  .sms-registration-container.light-theme .sms-main .modal-container .sub-header {
    font-size: 15px;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .content {
    width: 90%;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
    font-size: 12px;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
    font-size: 12px;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .sms-form .date-of-birth input {
    min-width: 50px;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .submit-messages {
    font-size: 12px;
  }
  .sms-registration-container.light-theme .sms-main .modal-container .legal-disclaimer {
    font-size: 9px;
  }
  .sms-registration-container.light-theme .sms-main .content-container {
    margin: 25px auto;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
.sms-registration-container {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.sms-registration-container.side-theme {
  position: fixed;
  right: -100%;
  top: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.sms-registration-container.side-theme.slide {
  right: 0;
}
.sms-registration-container.side-theme .sms-main .modal-container {
  max-width: 420px;
  height: auto;
  padding: 25px 30px;
  background: rgba(0, 0, 0, 0.8);
  /***FORM***/
  /***LEGAL***/
  /***SUBMIT BUTTON***/
  /***SUBMIT MESSAGES***/
}
.sms-registration-container.side-theme .sms-main .modal-container .background-container {
  display: none;
}
.sms-registration-container.side-theme .sms-main .modal-container .content-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 15px auto;
}
.sms-registration-container.side-theme .sms-main .modal-container .content {
  width: 100%;
  margin: 0 auto;
}
.sms-registration-container.side-theme .sms-main .modal-container .copy-container .bg-theme-copy,
.sms-registration-container.side-theme .sms-main .modal-container .copy-container .light-theme-copy,
.sms-registration-container.side-theme .sms-main .modal-container .copy-container .dark-theme-copy {
  display: none;
}
.sms-registration-container.side-theme .sms-main .modal-container .header {
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}
.sms-registration-container.side-theme .sms-main .modal-container .sub-header {
  color: #fff;
  font-size: 22px;
  margin: 20px auto 25px;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form input[type='text'] {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .phone-number {
  width: 50%;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .phone-number .phone-copy {
  color: #f07113;
  margin-bottom: 10px;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .phone-number input {
  width: 90%;
  height: 20px;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth {
  width: 50%;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth .dob-text {
  color: #f07113;
  margin-bottom: 10px;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth .dob-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth input {
  height: 20px;
  min-width: 40px;
  margin-right: 5px;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth input::placeholder {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #000;
  font-size: 15px;
  text-align: center;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth input:-ms-input-placeholder {
  color: #000;
  font-size: 15px;
  text-align: center;
}
.sms-registration-container.side-theme .sms-main .modal-container .sms-form .date-of-birth .field-label {
  display: none;
}
.sms-registration-container.side-theme .sms-main .modal-container .legal-disclaimer {
  color: #fff;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
  margin-top: 15px;
}
.sms-registration-container.side-theme .sms-main .modal-container .legal-disclaimer a {
  color: #fff;
  text-decoration: underline;
}
.sms-registration-container.side-theme .sms-main .modal-container .legal-disclaimer a:hover {
  color: #f07113;
}
.sms-registration-container.side-theme .sms-main .modal-container .legal-disclaimer a:visited {
  color: #fff;
}
.sms-registration-container.side-theme .sms-main .modal-container .submit-button {
  width: 100%;
  height: 40px;
  background-color: #f07113;
  color: #000;
  border: none;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin: 15px auto;
}
.sms-registration-container.side-theme .sms-main .modal-container .submit-messages {
  color: #fff;
}
.sms-registration-container.side-theme .sms-main .modal-container .submit-messages .error-message {
  display: none;
}
.sms-registration-container.side-theme .sms-main .modal-container .submit-messages .success-message {
  display: none;
}
.sms-registration-container.side-theme .sms-main .modal-container .close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sms-registration-container.side-theme .sms-main .modal-container .close-button:after {
  content: "+";
  color: #FFF;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .sms-registration-container.side-theme {
    width: 100%;
    top: auto;
    right: auto;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    bottom: -100%;
  }
  .sms-registration-container.side-theme.slide {
    bottom: 0;
  }
  .sms-registration-container.side-theme .sms-main .modal-container {
    max-width: 100%;
    width: 100%;
  }
  .sms-registration-container.side-theme .sms-main .modal-container .header {
    font-size: 16px;
  }
}

