@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.main-container {
  width: 100%;
  margin: 50px 0;
  font-family: Arial, sans-serif;
}
@media screen and (max-width: 1024px) {
  .main-container {
    margin-top: 56px;
  }
}
.blog-sidebar {
  width: 25%;
}
.blog-hero {
  position: relative;
}
.blog-hero.mw h4,
.blog-hero.mw h3 {
  color: #597985;
}
.blog-hero.mw .post-header:after {
  background: #597985;
}
.blog-hero.cod-mobile h4,
.blog-hero.cod-mobile h3 {
  color: #ffe93c;
}
.blog-hero.cod-mobile .post-header:after {
  background: #ffe93c;
}
.blog-hero.wwii h4,
.blog-hero.wwii h3 {
  color: #9f912a;
}
.blog-hero.wwii .post-header:after {
  background: #9f912a;
}
.blog-hero.bo4 h4,
.blog-hero.bo3 h4,
.blog-hero.bo2 h4,
.blog-hero.bo4 h3,
.blog-hero.bo3 h3,
.blog-hero.bo2 h3 {
  color: #ff6600;
}
.blog-hero.bo4 .post-header:after,
.blog-hero.bo3 .post-header:after,
.blog-hero.bo2 .post-header:after {
  background: #ff6600;
}
.blog-hero.iw h4,
.blog-hero.iw h3 {
  color: #ffff03;
}
.blog-hero.iw .post-header:after {
  background: #ffff03;
}
.blog-hero.aw h4,
.blog-hero.aw h3 {
  color: #9e922c;
}
.blog-hero.aw .post-header:after {
  background: #9e922c;
}
.blog-hero.mwr h4,
.blog-hero.mw3 h4,
.blog-hero.mwr h3,
.blog-hero.mw3 h3 {
  color: #99cc00;
}
.blog-hero.mwr .post-header:after,
.blog-hero.mw3 .post-header:after {
  background: #99cc00;
}
.blog-hero.ghosts h4,
.blog-hero.ghosts h3 {
  color: #6e8fac;
}
.blog-hero.ghosts:after {
  background: #6e8fac;
}
.blog-hero .desktop {
  display: block;
}
.blog-hero .mobile {
  display: none;
}
.blog-hero .hero-img {
  min-height: 600px;
  position: relative;
}
.blog-hero .hero-img div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog-hero a {
  text-decoration: none;
  display: block;
  position: relative;
}
.blog-hero .hero-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.blog-hero .hero-caption h4 {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 25px;
}
.blog-hero .hero-caption h3 {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 50px;
}
@media screen and (max-width: 767px) {
  .blog-hero .desktop {
    display: none;
  }
  .blog-hero .mobile {
    display: block;
  }
  .blog-hero .hero-img {
    padding-bottom: 56.25%;
    min-height: 0;
  }
  .blog-hero .hero-caption {
    position: relative;
  }
  .blog-hero .hero-caption h4 {
    font-size: 18px;
  }
  .blog-hero .hero-caption h3 {
    font-size: 30px;
  }
}
.blog-content-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.blog-content-container:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.blog-content-container .blog-trending {
  width: 30%;
  float: left;
  margin-top: 125px;
}
.blog-content-container .blog-trending .info-header {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 46px 0;
  margin-top: 0;
}
.blog-content-container .blog-content {
  width: 65%;
  float: right;
}
.blog-content-container .blog-filters {
  padding: 25px 0;
}
.blog-content-container .blog-filters .game-filter {
  margin-right: 10px;
}
.blog-content-container .blog-filters .tag-filter {
  width: 50%;
}
.blog-content-container .blog-filters .selectric .button:after {
  display: none;
}
.blog-content-container .load-more {
  text-align: center;
}
.blog-content-container .load-more a {
  background: #000;
  padding: 15px 30px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  display: block;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}
.blog-content-container .post-container {
  margin: 0 0 20px;
  background: #e3e3e3;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  /*&:first-of-type {

			> a {
				display: block;
                position: relative;
            }

            .feature-image {
                width: 100%;
    			padding-bottom: 56.25%;
            }

            .post-content {
				display: none;
            }

            .post-header {
				position: absolute;
                width: 67%;
                right: 0;
                bottom: 0;
                background: #000;

                &:after { display: none; }
            }

            .game-colors();

        }*/
}
.blog-content-container .post-container:hover {
  background: #000;
}
.blog-content-container .post-container:hover .post-content p {
  color: #FFF;
}
.blog-content-container .post-container:hover.mw h4,
.blog-content-container .post-container:hover.mw h3 {
  color: #597985;
}
.blog-content-container .post-container:hover.mw .post-header:after {
  background: #597985;
}
.blog-content-container .post-container:hover.cod-mobile h4,
.blog-content-container .post-container:hover.cod-mobile h3 {
  color: #ffe93c;
}
.blog-content-container .post-container:hover.cod-mobile .post-header:after {
  background: #ffe93c;
}
.blog-content-container .post-container:hover.wwii h4,
.blog-content-container .post-container:hover.wwii h3 {
  color: #9f912a;
}
.blog-content-container .post-container:hover.wwii .post-header:after {
  background: #9f912a;
}
.blog-content-container .post-container:hover.bo4 h4,
.blog-content-container .post-container:hover.bo3 h4,
.blog-content-container .post-container:hover.bo2 h4,
.blog-content-container .post-container:hover.bo4 h3,
.blog-content-container .post-container:hover.bo3 h3,
.blog-content-container .post-container:hover.bo2 h3 {
  color: #ff6600;
}
.blog-content-container .post-container:hover.bo4 .post-header:after,
.blog-content-container .post-container:hover.bo3 .post-header:after,
.blog-content-container .post-container:hover.bo2 .post-header:after {
  background: #ff6600;
}
.blog-content-container .post-container:hover.iw h4,
.blog-content-container .post-container:hover.iw h3 {
  color: #ffff03;
}
.blog-content-container .post-container:hover.iw .post-header:after {
  background: #ffff03;
}
.blog-content-container .post-container:hover.aw h4,
.blog-content-container .post-container:hover.aw h3 {
  color: #9e922c;
}
.blog-content-container .post-container:hover.aw .post-header:after {
  background: #9e922c;
}
.blog-content-container .post-container:hover.mwr h4,
.blog-content-container .post-container:hover.mw3 h4,
.blog-content-container .post-container:hover.mwr h3,
.blog-content-container .post-container:hover.mw3 h3 {
  color: #99cc00;
}
.blog-content-container .post-container:hover.mwr .post-header:after,
.blog-content-container .post-container:hover.mw3 .post-header:after {
  background: #99cc00;
}
.blog-content-container .post-container:hover.ghosts h4,
.blog-content-container .post-container:hover.ghosts h3 {
  color: #6e8fac;
}
.blog-content-container .post-container:hover.ghosts:after {
  background: #6e8fac;
}
.blog-content-container .post-container:hover.mw .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 36px;
  height: 16px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -592px -1px;
}
.blog-content-container .post-container:hover.cod-mobile .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 18px;
  height: 21px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -567px 1px;
}
.blog-content-container .post-container:hover.bo4 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 27px;
  height: 24px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -536px 0px;
}
.blog-content-container .post-container:hover.wwii .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 61px;
  height: 20px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -473px 0px;
}
.blog-content-container .post-container:hover.iw .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 27px;
  height: 20px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.blog-content-container .post-container:hover.mwr .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 15px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -34px 0px;
}
.blog-content-container .post-container:hover.bo3 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 24px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -145px 0px;
}
.blog-content-container .post-container:hover.aw .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 14px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -174px 0px;
}
.blog-content-container .post-container:hover.ghosts .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 23px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -389px 0px;
}
.blog-content-container .post-container:hover.bo2 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -364px 0px;
}
.blog-content-container .post-container:hover.mw3 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 15px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -34px 0px;
}
.blog-content-container .post-container:hover.boa .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -339px 0px;
}
.blog-content-container .post-container > a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #000;
  text-decoration: none;
  position: relative;
}
.blog-content-container .post-container.mw .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 36px;
  height: 16px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -592px -28px;
}
.blog-content-container .post-container.cod-mobile .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 18px;
  height: 21px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -567px -25px;
}
.blog-content-container .post-container.bo4 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 27px;
  height: 24px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -536px -28px;
}
.blog-content-container .post-container.wwii .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 61px;
  height: 20px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -473px -27px;
}
.blog-content-container .post-container.iw .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 27px;
  height: 20px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: 0px -27px;
}
.blog-content-container .post-container.mwr .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 15px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -34px -27px;
}
.blog-content-container .post-container.bo3 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 24px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -145px -27px;
}
.blog-content-container .post-container.aw .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 14px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -174px -27px;
}
.blog-content-container .post-container.ghosts .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 23px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -389px -27px;
}
.blog-content-container .post-container.bo2 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -364px -27px;
}
.blog-content-container .post-container.mw3 .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 15px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -34px -27px;
}
.blog-content-container .post-container.bo .post-right:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 23px;
  background-image: url("../../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png");
  background-repeat: no-repeat;
  background-position: -339px -27px;
}
.blog-content-container .feature-image {
  width: 33.33%;
  position: relative;
}
.blog-content-container .feature-image div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog-content-container .post-right {
  width: 66.66%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.blog-content-container .post-header {
  width: 50%;
  text-transform: uppercase;
  padding: 30px;
  position: relative;
}
.blog-content-container .post-header h4 {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 15px;
  color: #000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.blog-content-container .post-header h3 {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.blog-content-container .post-header:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 2px;
  height: 75%;
  background: #9b9b9b;
}
.blog-content-container .post-content {
  width: 50%;
  position: relative;
  padding: 30px 80px 30px 24px;
  word-break: break-word;
}
.blog-content-container .post-content p {
  color: #000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 130px;
  -webkit-line-clamp: 8;
  word-break: break-word;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .blog-content-container .blog-trending,
  .blog-content-container .blog-content {
    width: 100%;
    float: none;
  }
  .blog-content-container .blog-trending {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .blog-content-container .blog-filters .tag-filter {
    width: 100%;
  }
  .blog-content-container .post-container > a,
  .blog-content-container .post-right {
    display: block;
  }
  .blog-content-container .feature-image {
    padding-bottom: 56.25%;
  }
  .blog-content-container .feature-image,
  .blog-content-container .post-right,
  .blog-content-container .post-header,
  .blog-content-container .post-content {
    width: 100%;
  }
  .blog-content-container .post-header {
    padding: 15px 50px 15px 15px;
  }
  .blog-content-container .post-header:after {
    display: none;
  }
  .blog-content-container .post-content {
    padding: 0 15px 15px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
/*======================================
  Selectric v1.13.0
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}
.selectric-responsive {
  width: 100%;
}
.selectric {
  border: 1px solid #FFF;
  border-radius: 0px;
  background: #e3e3e3;
  position: relative;
  overflow: hidden;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 0;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 38px;
  color: #000;
  padding: 20px 35px 20px 15px;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric .button {
  display: block;
  position: absolute;
  right: 15px;
  width: 27px;
  height: 27px;
  line-height: 38px;
  background-color: #e3e3e3;
  color: #BBB;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font: 0/0 a;
  background-image: url(../../../../../../../content/dam/atvi/callofduty/hub/cod-blog-arrow-black.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  *font: 0.52631579px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}
.selectric-focus .selectric {
  border-color: #aaaaaa;
}
.selectric-hover .selectric {
  border-color: #FFF;
}
.selectric-hover .selectric .button {
  color: #a2a2a2;
}
.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2;
}
.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: #c4c4c4;
}
.selectric-open .selectric {
  background: #666;
}
.selectric-open .selectric .label {
  color: #FFF;
}
.selectric-open .selectric .button {
  background-color: #666;
  background-image: url(../../../../../../../content/dam/atvi/callofduty/hub/cod-blog-arrow-white.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.selectric-open .selectric-items {
  display: block;
}
.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
}
.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}
.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: NaN a !important;
  background: none !important;
}
.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #000;
  border: 1px solid #c4c4c4;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  min-height: 20px;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
}
.selectric-items li {
  display: block;
  padding: 20px 35px 20px 15px;
  color: #FFF;
  cursor: pointer;
}
.selectric-items li.selected {
  background: #e3e3e3;
  color: #000;
}
.selectric-items li.highlighted {
  background: #e3e3e3;
  color: #000;
}
.selectric-items li:hover {
  background: #e3e3e3;
  color: #000;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}

