@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.app-ad {
  position: relative;
  height: 450px;
  width: 100%;
  background-image: url('../../../../../../../content/dam/atvi/callofduty/hub/touch-ui/app/app-bg.jpg');
  background-color: transparent;
  background-size: cover;
  overflow-x: hidden;
  /* Button Module Starts Here---------------------------------*/
  /* 3 Column Squares Starts Here---------------------------------*/
  /* --------------------APP AD--------------------------------*/
  /* ----------Phone Reflection-----------*/
}
@media screen and (max-width: 1024px) {
  .app-ad {
    position: relative;
    height: 500px;
    width: 100%;
  }
}
.app-ad h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .app-ad h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767) {
  .app-ad h2 {
    font-size: 15px;
  }
}
.app-ad button {
  padding: 5px 11px;
  min-width: 200px;
  max-width: 480px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all ease .8s;
  margin: 0px auto 20px auto;
  color: #ffffff;
  border: 1px solid #f07113;
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  background: #713000 center center repeat;
  background-size: 2px;
  display: block;
  background-image: url('../../../../../../../content/dam/atvi/callofduty/hub/touch-ui/app/break-tile.svg');
}
.app-ad button.standard,
.app-ad .mycod button {
  background-color: #1e1e1e;
  border: 1px solid #e1e1e1;
}
.app-ad button.standard:hover,
.app-ad .mycod button:hover {
  background-color: #3c3c3c;
}
.app-ad button.special {
  border: 1px solid #f07113;
  background-image: url('../../../../../../../content/dam/atvi/callofduty/hub/touch-ui/app/break-tile-orange.svg');
  margin: 0;
}
.app-ad .header-module button.special {
  margin: 0px auto;
}
.app-ad button.special:hover {
  background-color: #aa4800;
}
.app-ad .wwii button {
  border: 1px solid #d5c04d;
  background-color: #766b27;
}
.app-ad .wwii button:hover {
  background-color: #9a892f;
}
.app-ad nav .button {
  width: 158px;
  background-color: #454545;
  margin: 0;
  border: 1px solid #ffffff90 !important;
  box-shadow: 0px 0px 0px 0px;
  background-size: 2px;
}
.app-ad .nav-button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}
.app-ad button p {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0px 0px 0px 3px;
  transition: all ease .8s;
  color: #fff;
}
.app-ad .rectangle-play p {
  display: inline-block;
}
.app-ad .right-arrow {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  display: inline-block;
  margin-right: 10px;
}
.app-ad .text-line-break {
  width: 100%;
  content: "";
  height: 8px;
  background-color: #000;
  background-position: top center;
  background-repeat: repeat;
  background-image: url('../../../../../../../content/dam/atvi/callofduty/hub/touch-ui/app/break-tile.svg');
  background-size: 4px;
}
.app-ad .squares-5,
.app-ad .squares-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.app-ad .square {
  flex: 1 0 0;
  height: 20vw;
  text-align: center;
  position: relative;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100%;
  background-position: center center;
  transition: all ease-out 1s;
}
.app-ad .squares-3 .square {
  height: 33vw;
}
.app-ad .square h2 {
  margin-left: 0px;
  margin-right: 0px;
  padding: 30px 0px 20px 0px;
}
.app-ad .square.middle {
  background-color: #a3e8ff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  background-size: calc(100% + 1px);
}
.app-ad .square:hover,
.app-ad .square.animate {
  background-color: transparent;
}
.app-ad .square:hover {
  background-size: 110%;
  transition: all ease-out 1s;
}
.app-ad .square.right:hover {
  background-size: 110%;
  transition: all ease-out 1s;
}
.app-ad .line-bottom,
.app-ad .line-top:before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
}
.app-ad .line-bottom.two {
  bottom: 0px;
}
.app-ad .square.middle {
  background-image: none;
  background-color: transparent;
  border: 0px;
}
.app-ad .tile-content {
  width: 450px;
  position: relative;
  margin: 4% auto 0% 50%;
}
@media screen and (max-width: 1024px) {
  .app-ad .tile-content {
    width: 80%;
    margin: 230px auto 0% 10%;
    z-index: 5;
  }
}
@media screen and (max-width: 1279px) and (min-width: 1025px) {
  .app-ad .tile-content.v2 {
    margin: 4% auto 0% 53%;
  }
}
@media screen and (min-width: 1280px) {
  .app-ad .tile-content.v2 {
    margin: 4% auto 0% 59%;
  }
}
.app-ad .square {
  background-blend-mode: normal;
  height: 450px;
  background-position: top center;
}
@media screen and (max-width: 1024px) {
  .app-ad .square {
    height: 100vw;
  }
}
.app-ad .square a.mobile-link {
  display: none;
}
.app-ad .square button {
  position: absolute;
  margin-top: -65px;
  margin-left: calc(50% + 130px);
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .app-ad .square button {
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: -65px 0 0 0;
  }
}
@media screen and (max-width: 1279px) and (min-width: 1025px) {
  .app-ad .square button.v2 {
    margin-left: calc(53% + 130px);
  }
}
@media screen and (min-width: 1280px) {
  .app-ad .square button.v2 {
    margin-left: calc(59% + 130px);
  }
}
.app-ad .square:hover,
.app-ad .square.middle {
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}
@media screen and (max-width: 1024px) {
  .app-ad .square:hover,
  .app-ad .square.middle {
    height: 500px;
    width: 100%;
    left: auto;
    margin-left: 0px;
  }
}
.app-ad .phone-frame.v1:after {
  width: 0;
  height: 0;
  border-left: 363px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 781px solid #ffffff10;
  position: absolute;
  content: "";
  -webkit-clip-path: inset(222px 1px 2px 25px);
  clip-path: inset(222px 1px 2px 25px);
  top: 20%;
  left: 700px;
  transform: rotate(-31deg) rotate3d(1, 1, 0, 30deg) skew(0.5deg, 21.5deg) translate3d(0, -249px, 0px);
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .app-ad .phone-frame.v1:after {
    display: none;
  }
}
.app-ad img.phone-frame-image {
  position: absolute;
  height: 819px;
  width: 1178px;
  left: 5%;
}
@media screen and (max-width: 1024px) {
  .app-ad img.phone-frame-image {
    height: 500px;
    width: 720px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
.app-ad img.phone-frame-image.v2 {
  display: none;
}
@media screen and (max-width: 1279px) and (min-width: 1025px) {
  .app-ad img.phone-frame-image.v2 {
    left: 3%;
  }
}
@media screen and (max-width: 1024px) {
  .app-ad img.phone-frame-image.v2 {
    left: calc(50% + 40px);
  }
}
.app-ad .phone-frame .friends-feed-container {
  display: none;
  position: absolute;
  height: 420px;
  top: 37%;
  left: 514px;
  width: 330px;
  transform: rotate(-31deg) rotate3d(1, 1, 0, 30deg) skew(0deg, 21.5deg) translate3d(0, -9px, 0px);
  transform-origin: top;
  overflow-y: scroll;
}
@media screen and (max-width: 1024px) {
  .app-ad .phone-frame .friends-feed-container {
    height: 335px;
    top: 26%;
    left: calc(50% + 25px);
    width: 200px;
    transform: rotate(-31deg) rotate3d(1, 1, 0, 30deg) skew(0deg, 21.5deg) translate3d(-50%, -57px, 0px);
  }
}
.app-ad .phone-frame .friends-feed-container.v2 {
  background-color: #000;
  -webkit-clip-path: none;
  clip-path: none;
  transform: none;
  width: 205px;
  height: 390px;
  top: 14%;
  left: 515px;
  padding: 0;
}
.app-ad .phone-frame .friends-feed-container.v2 .friend-avatar {
  width: 30px;
  height: 30px;
}
.app-ad .phone-frame .friends-feed-container.v2 .friend-event {
  font-size: 10px;
  margin-left: 40px;
}
.app-ad .phone-frame .friends-feed-container.v2 .friend-timestamp .friend-time-since {
  font-size: 10px;
}
.app-ad .phone-frame .friends-feed-container.v2 .friend-timestamp {
  margin-left: 40px;
}
.app-ad .phone-frame .friends-feed-container.v2 .friend-timestamp .friend-time-since {
  font-size: 10px;
}
@media screen and (max-width: 1279px) and (min-width: 1025px) {
  .app-ad .phone-frame .friends-feed-container.v2 {
    left: 478px;
  }
}
@media screen and (max-width: 1024px) {
  .app-ad .phone-frame .friends-feed-container.v2 {
    left: calc(50% - 61px);
    width: 122px;
    height: 278px;
    top: 8%;
    overflow-x: hidden;
  }
  .app-ad .phone-frame .friends-feed-container.v2 .friend-event {
    font-size: 8px;
  }
  .app-ad .phone-frame .friends-feed-container.v2 .friend-timestamp .friend-time-since {
    font-size: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .app-ad .square.middle:after {
    background-image: linear-gradient(#000000 0, #000000 70%);
    height: 0;
    content: "";
    width: 100%;
    display: block;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
}
/*Personalization Starts Here---------------------------------*/
.app-ad .title-icon {
  height: 80px;
  width: auto;
  margin: 0px auto 20px auto;
  display: block;
  position: relative;
}
.app-ad .tile-content {
  padding: 40px 0px;
  height: auto;
}
.app-ad .tile-content p {
  width: 90%;
}
.app-ad .tile-content h1 {
  height: 100px;
}
.app-ad .tile-content h2 {
  margin-bottom: 0px;
  height: 120px;
  line-height: 24px;
}
@media screen and (max-width: 1024px) {
  .app-ad .tile-content h2 {
    padding-top: 42px;
  }
}
@media screen and (max-width: 767px) {
  .app-ad .tile-content h2 {
    padding-top: 30px;
  }
}
@media screen and (max-width: 390px) {
  .app-ad .tile-content.v2 h2 {
    font-size: 14px;
  }
}
.app-ad .tile-content-bg {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 90%);
  transition: all 1s;
  margin-top: 26px;
}
.app-ad .line-top {
  width: 100%;
  height: 15px;
}
.app-ad .line-top:before,
.app-ad .line-bottom {
  content: "";
  display: block;
  height: 1px;
  width: 80%;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  transition: all 1s;
}
.app-ad .line-top:before {
  top: 80px;
}
.app-ad .square:hover .line-top:before,
.app-ad .square:hover .line-bottom {
  width: 95%;
  margin-left: -47.5%;
}
/* =================================================================== */
.friends-feed-container {
  display: none;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  overflow-y: scroll;
}
.friends-feed-container::-webkit-scrollbar {
  width: 0px;
}
.friends-feed-container::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #202020;
  background-color: #202020;
}
.friends-feed-container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #444444;
}
.friends-feed-container::-webkit-scrollbar-thumb:window-inactive {
  background: #444444;
}
.friends-feed-container .friends-feed-list > li {
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  direction: ltr;
  text-align: left;
  margin-bottom: 30px;
}
.friends-feed-container .friends-feed-list > li:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.friends-feed-container .friends-feed-list .friend-avatar {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 23px;
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .friends-feed-container .friends-feed-list .friend-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}
.friends-feed-container .friends-feed-list .friend-avatar.online {
  border: 2px solid dodgerblue;
}
.friends-feed-container .friends-feed-list .friend-event {
  display: block;
  font-size: 12px;
  line-height: 17px;
  color: #777;
  padding-top: 5px;
  margin-bottom: 3px;
  margin-left: 55px;
}
@media screen and (max-width: 1024px) {
  .friends-feed-container .friends-feed-list .friend-event {
    margin-left: 40px;
    font-size: 11px;
  }
}
.friends-feed-container .friends-feed-list .friend-event .username,
.friends-feed-container .friends-feed-list .friend-event .mp-stat-items > span,
.friends-feed-container .friends-feed-list .friend-event .game-mode,
.friends-feed-container .friends-feed-list .friend-event .generic-value {
  color: #ffffff;
}
.friends-feed-container .friends-feed-list .friend-timestamp {
  margin-left: 55px;
}
@media screen and (max-width: 1024px) {
  .friends-feed-container .friends-feed-list .friend-timestamp {
    margin-left: 40px;
  }
}
.friends-feed-container .friends-feed-list .friend-timestamp .friend-time-since {
  font-size: 10px;
  color: #777;
}
.friends-feed-container .friends-feed-list .friend-timestamp .friend-game-icon {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 0 0 5px;
  vertical-align: middle;
}
.friends-feed-container .friends-feed-list .friend-timestamp .friend-game-icon.bo4 {
  background-image: url('../../../../../../../content/dam/atvi/callofduty/mycod/common/title-icons/bo4Logo.png');
  width: 13px;
  height: 15px;
  margin-top: 3px;
}
.friends-feed-container .friends-feed-list .friend-timestamp .friend-game-icon.wwii {
  background-image: url('../../../../../../../content/dam/atvi/callofduty/mycod/common/title-icons/ww2Logo.png');
  width: 36px;
  height: 9px;
}
.friends-feed-container .friends-feed-list .friend-timestamp .friend-game-icon.iw {
  background-image: url('../../../../../../../content/dam/atvi/callofduty/mycod/common/title-icons/iwLogo.png');
  width: 22px;
  height: 18px;
}
.friends-feed-container .friends-feed-list .friend-timestamp .friend-game-icon.bo3 {
  background-image: url('../../../../../../../content/dam/atvi/callofduty/mycod/common/title-icons/bo3Logo.png');
  width: 16px;
  height: 18px;
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
html[lang='ar'] .app-ad {
  direction: ltr;
}

