@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
/********************************/
/********************************/
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay {
  position: absolute;
  top: 0;
  width: 300px;
  height: 200px;
  opacity: 1;
  z-index: 15;
}
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay.hero-modal-1 {
  left: 0;
}
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay.hero-modal-2 {
  left: 320px;
}
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay .atvi-video {
  height: 200px;
}
html.aem-AuthorLayer-Edit .hub-hero-container {
  width: 900px;
  padding-bottom: 45%;
}
html.aem-AuthorLayer-Edit .hub-hero-container .tile-bgs .tile-video-bg video {
  width: auto;
  height: 100%;
}
html.aem-AuthorLayer-Edit .hub-hero-container .modal-overlay {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hub-hero-container {
  position: relative;
  height: 0;
  padding-bottom: 40%;
  min-height: 500px;
}
.hub-hero-container[data-game="mobile"] .tile-content .text-wrapper .cta-container ul li a {
  background: #ffe93c;
  color: #000;
  border: 1px solid #ffe93c;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 20px;
}
.hub-hero-container[data-game="mobile"] .tile-content .text-wrapper .cta-container ul li a:hover {
  background: #000;
  color: #ffe93c;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a {
  min-height: 16px;
  padding: 12px 20px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0;
  background-size: 2px;
  cursor: pointer;
  text-shadow: 0px 0px 0px #97cde1;
  background-image: url('../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/blue-tile.png');
  background-color: #242424;
  color: #94bbc2;
  box-shadow: inset 0px 0px 5px #597985;
  border: 1px solid #597985;
  letter-spacing: 3px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:before,
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:after {
  width: 100%;
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.5), #ffffff 20%, #ffffff 80%, rgba(250, 250, 250, 0.5));
  transition: all ease .8s;
  transform: scaleX(0);
  top: -1px;
  left: 0;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:before {
  color: #b6bec0;
  text-shadow: 0px 0px 10px #ffffff;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:after {
  bottom: -1px;
  top: initial;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:hover:after,
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:hover:before {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  transform: scaleX(1);
  box-shadow: 0px 0px 10px;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:before,
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:after {
  background-image: linear-gradient(to right, rgba(151, 205, 225, 0.5), #79d9ff 20%, #79d9ff 80%, rgba(151, 205, 225, 0.5));
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li a:hover {
  background-color: #282828;
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li.cta-2 a {
  text-shadow: 0px 0px 0px #e1d297;
  background-color: #242424;
  box-shadow: inset 0px 0px 5px #857a59;
  background-image: url('../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/common/ui-elements/btn-bg-gold-tile.jpg');
  color: #f7d9a0;
  box-shadow: inset 0px 0px 5px #b59228;
  border: 1px solid #d0a137;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li.cta-2 a:hover {
  background-color: #282828;
  text-shadow: 0px 0px 10px #ffeec8;
  color: #ffeec8;
}
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li.cta-2 a:before,
.hub-hero-container[data-game="mw"] .tile-content .text-wrapper .cta-container ul li.cta-2 a:after {
  background-image: linear-gradient(to right, rgba(253, 217, 150, 0.5), #ffc558 20%, #ffc558 80%, rgba(253, 217, 150, 0.5));
}
.hub-hero-container[data-game="bo4"] .tile-content .text-wrapper .cta-container ul li {
  border: 1px solid #ff6600;
}
.hub-hero-container[data-game="bo4"] .tile-content .text-wrapper .cta-container ul li a {
  background-image: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/break-tile-orange.svg");
  background-size: 2px;
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 15px 11px;
  font-size: 13px;
  text-shadow: 0px 0px 18px #646464;
  line-height: 1.3;
  color: #FFF;
  letter-spacing: 3px;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
}
.hub-hero-container[data-game="bo4"] .tile-content .text-wrapper .cta-container ul li a:hover {
  background-color: #aa4800;
}
.hub-hero-container[data-game="bo4"] .tile-content .text-wrapper .cta-container ul li:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 107, 0, 0), #ff6b00, rgba(255, 107, 0, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-hero-container .tile-bgs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000;
}
.hub-hero-container .tile-bgs .tile-video-bg {
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hub-hero-container .tile-bgs .tile-video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.hub-hero-container .tile-bgs .tile-video-bg.mobile-video {
  display: none;
}
.hub-hero-container .tile-bgs div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}
.hub-hero-container .tile-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  max-width: 768px;
  z-index: 10;
}
.hub-hero-container .tile-content .tile-logo {
  position: relative;
  left: -31px;
  max-width: 350px;
  width: 100%;
}
.hub-hero-container .tile-content .tile-logo img {
  max-width: 100%;
}
.hub-hero-container .tile-content .tile-title {
  padding: 0px 0 25px;
  /*Custom based on logo*/
  margin-top: -13px;
  /*Custom based on logo*/
}
.hub-hero-container .tile-content .tile-title h3 {
  color: #FFF;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  letter-spacing: 3px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif;
}
.hub-hero-container .tile-content .cta-container ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.hub-hero-container .tile-content .cta-container li {
  margin-right: 10px;
}
.hub-hero-container .tile-content .cta-container a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hub-hero-container {
    height: 80vh;
    padding-bottom: 0;
    min-height: 300px;
  }
  .hub-hero-container .tile-bgs .tile-video-bg video {
    height: auto;
    width: 100%;
  }
  .hub-hero-container .tile-bgs .tile-video-bg.mobile-video {
    display: block;
  }
  .hub-hero-container .tile-bgs .tile-video-bg.desktop-video {
    display: none;
  }
  .hub-hero-container .tile-content .tile-logo {
    left: auto;
    margin: 0 auto;
  }
  .hub-hero-container .tile-content .tile-title {
    text-align: center;
  }
  .hub-hero-container .tile-content .cta-container ul {
    display: block;
    text-align: center;
  }
  .hub-hero-container .tile-content .cta-container li:first-of-type {
    margin-bottom: 15px;
  }
}
.modal-overlay {
  opacity: 0;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background: #000;
  cursor: default;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.modal-overlay.active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.modal-overlay.active:before {
  content: "";
  display: none;
}
.modal-overlay .inner-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*top: 50%;
        left: 50%;
        .translate(-50%,-50%);*/
}
.modal-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.modal-overlay .modal-close {
  font-family: sans-serif;
  font-size: 90px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #FFF;
  cursor: pointer;
  z-index: 10;
  display: block;
}
.modal-overlay .modal-content {
  position: relative;
}
.modal-overlay .modal-content .player-part .player-wrapper {
  padding-bottom: 49.25%;
}
.modal-overlay .modal-content .player-part .player-wrapper .player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-overlay .external-link-overlay {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.cod-app-banner {
  position: relative;
}
.cod-app-banner .mobile {
  display: none;
}
.cod-app-banner .desktop {
  display: block;
}
.cod-app-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
}
.cod-app-banner:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
}
.cod-app-banner .inner-container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cod-app-banner .app-banner {
  width: 55%;
}
.cod-app-banner .app-banner div,
.cod-app-banner .app-banner img {
  width: 100%;
}
.cod-app-banner .app-content {
  width: 40%;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
}
.cod-app-banner .app-content h3 {
  text-transform: uppercase;
  font-size: 25px;
  color: #FFF;
  margin-bottom: 25px;
  letter-spacing: 1px;
  line-height: 1.2;
}
.cod-app-banner .app-content .cta {
  position: relative;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  margin: 0 auto;
  color: #FFF;
  border: 1px solid #ff6600;
  background: #713000 center center repeat;
  display: inline-block;
  min-width: 200px;
  max-width: 480px;
}
.cod-app-banner .app-content .cta a {
  padding: 15px 11px;
  font-size: 13px;
  text-shadow: 0px 0px 18px #646464;
  line-height: 1.3;
  color: #FFF;
  letter-spacing: 3px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  background-image: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/break-tile-orange.svg");
  background-size: 2px;
}
.cod-app-banner .app-content .cta a:hover {
  background-color: #aa4800;
}
.cod-app-banner .app-content ul {
  margin-top: 30px;
}
.cod-app-banner .app-content ul li {
  display: inline-block;
  margin: 0 15px;
  width: 120px;
}
.cod-app-banner .app-content ul li img {
  width: 100%;
}
.cod-app-banner .app-content ul li a {
  display: block;
}
@media screen and (max-width: 1024px) {
  .cod-app-banner {
    padding-bottom: 50px;
  }
  .cod-app-banner .mobile {
    display: block;
  }
  .cod-app-banner .desktop {
    display: none;
  }
  .cod-app-banner .inner-container {
    display: block;
  }
  .cod-app-banner .app-banner,
  .cod-app-banner .app-content {
    width: 100%;
  }
  .cod-app-banner .app-content {
    margin-top: 25px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.hub-mid-hero-container,
.hub-mid-hero-container.no-stats {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 700px;
}
.hub-mid-hero-container .hub-hero-left,
.hub-mid-hero-container.no-stats .hub-hero-left {
  display: none;
}
.hub-mid-hero-container .hub-hero-right,
.hub-mid-hero-container.no-stats .hub-hero-right {
  width: 100%;
}
.hub-mid-hero-container .hub-hero-right > div,
.hub-mid-hero-container.no-stats .hub-hero-right > div {
  position: relative;
  height: 100%;
}
.hub-mid-hero-container .hub-hero-right .featured-news,
.hub-mid-hero-container.no-stats .hub-hero-right .featured-news {
  width: 66.66%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-lines: multiple;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hub-mid-hero-container .hub-hero-right .hub-sub-tile,
.hub-mid-hero-container.no-stats .hub-hero-right .hub-sub-tile {
  width: 50%;
}
.hub-mid-hero-container .hub-hero-right .latest-news,
.hub-mid-hero-container.no-stats .hub-hero-right .latest-news {
  width: 33.33%;
}
@media screen and (max-width: 1024px) {
  .hub-mid-hero-container,
  .hub-mid-hero-container.no-stats {
    height: auto;
  }
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-left {
  width: 33.33%;
  display: block;
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right {
  width: 66.66%;
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right .featured-news {
  display: block;
  width: 50%;
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right .featured-news .hub-sub-tile {
  width: 100%;
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right .featured-news .hub-sub-tile:nth-child(3),
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right .featured-news .hub-sub-tile:nth-child(4) {
  display: none;
}
body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right .latest-news {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  body.sso-logged-in .hub-mid-hero-container:not(.no-stats) {
    display: block;
  }
  body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-left,
  body.sso-logged-in .hub-mid-hero-container:not(.no-stats) .hub-hero-right {
    width: 100%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
#cod-hub-news {
  position: relative;
  height: 100%;
}
#cod-hub-news[data-layout='layout1'] .featured-news {
  order: 1;
}
#cod-hub-news[data-layout='layout1'] .latest-news {
  order: 2;
}
#cod-hub-news[data-layout='layout2'] .featured-news {
  order: 2;
}
#cod-hub-news[data-layout='layout2'] .latest-news {
  order: 1;
}
#cod-hub-news .inner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 100%;
}
#cod-hub-news .hub-sub-tile {
  height: 50%;
  position: relative;
}
#cod-hub-news .hub-sub-tile .hub-tile {
  min-height: 320px;
}
#cod-hub-news .hub-sub-tile .cta-wrapper {
  display: none;
}
#cod-hub-news .hub-sub-tile .tile-bgs:after {
  content: "";
  width: 100%;
  height: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 50%);
  display: block;
  position: absolute;
  bottom: 0;
}
#cod-hub-news .latest-news {
  background: #171717;
  position: relative;
}
#cod-hub-news .latest-news .news-header {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a9a6a1;
  padding: 10px 0 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 60px;
}
#cod-hub-news .latest-news .news-header .news-header-filter ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#cod-hub-news .latest-news .news-header .news-header-filter ul li {
  margin-left: 10px;
  cursor: pointer;
  background-image: url(../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png);
  background-repeat: no-repeat;
  text-indent: 500px;
  overflow: hidden;
}
#cod-hub-news .latest-news .news-header .news-header-filter ul li[data-game='all'] {
  background-image: none;
  text-indent: 0;
}
#cod-hub-news .latest-news .news-header .news-header-filter ul li[data-game='mw'] {
  width: 38px;
  height: 11px;
  background-position: 0 0;
  background-size: contain;
  background-image: url(../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/kronos-icon.png);
}
#cod-hub-news .latest-news .news-header .news-header-filter ul li[data-game='bo4'] {
  width: 27px;
  height: 26px;
  background-position: -536px 2px;
  margin-left: 4px;
}
#cod-hub-news .latest-news .news-header .news-header-filter ul li[data-game='cod-mobile'] {
  width: 18px;
  height: 21px;
  background-position: 0 0;
  background-size: contain;
  background-image: url(../../../../../../content/dam/atvi/callofduty/cod-touchui/hub/icons/cod-m-icon.png);
  margin-left: 9px;
}
#cod-hub-news .latest-news .news-header .news-header-filter ul li[data-game='cwl'] {
  width: 27px;
  height: 26px;
  background-image: url(../../../../../../content/dam/atvi/callofduty/cod-touchui/hub/icons/cdl-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
  text-indent: unset;
  position: relative;
  top: 7px;
}
#cod-hub-news .latest-news .news-content {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 140px;
  bottom: 100px;
  overflow-y: auto;
  /*.tablet({

            });*/
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar {
  width: 6px;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #202020;
  background-color: #202020;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #444444;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar-thumb:window-inactive {
  background: #444444;
}
@media only screen and (max-width: 1024px) {
  #cod-hub-news .latest-news .news-content {
    max-height: 325px;
  }
}
@media only screen and (max-width: 768px) {
  #cod-hub-news .latest-news .news-content {
    max-height: 275px;
  }
}
#cod-hub-news .latest-news .news-group {
  display: none;
}
#cod-hub-news .latest-news .news-entry {
  margin-bottom: 15px;
}
#cod-hub-news .latest-news .news-entry a {
  color: #a9a6a1;
  -webkit-transition: 0.25s color;
  -moz-transition: 0.25s color;
  -ms-transition: 0.25s color;
  -o-transition: 0.25s color;
  transition: 0.25s color;
}
#cod-hub-news .latest-news .news-entry a:hover {
  color: #FFF;
}
#cod-hub-news .latest-news .news-entry .news-text {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#cod-hub-news .latest-news .news-entry .news-text .news-icon {
  background-image: url(../../../../../../content/dam/atvi/callofduty/cod-touchui/global/tout-icons-new.png);
  background-repeat: no-repeat;
}
#cod-hub-news .latest-news .news-entry .news-text .news-thumb {
  width: 200px;
  height: 112px;
}
#cod-hub-news .latest-news .news-entry .news-text .news-title {
  width: calc(100% - 220px);
}
#cod-hub-news .latest-news .news-entry[data-game='mw'] .news-text .news-icon {
  width: 60px;
  height: 21px;
  background-position: 0 0;
  background-size: contain;
  background-image: url(../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/kronos-icon.png);
}
#cod-hub-news .latest-news .news-entry[data-game='bo4'] .news-icon {
  width: 27px;
  height: 26px;
  background-position: -536px 2px;
  margin-left: 4px;
}
#cod-hub-news .latest-news .news-entry[data-game='cod-mobile'] .news-icon {
  width: 30px;
  height: 28px;
  background-position: 0 0;
  background-size: contain;
  background-image: url(../../../../../../content/dam/atvi/callofduty/cod-touchui/hub/icons/cod-m-icon.png);
  margin-left: 15px;
}
#cod-hub-news .latest-news .news-entry[data-game='cwl'] .news-icon {
  width: 50px;
  height: 28px;
  background-position: 0 0;
  background-size: contain;
  background-image: url(../../../../../../content/dam/atvi/callofduty/cod-touchui/hub/icons/cdl-icon.png);
  margin-left: 4px;
}
#cod-hub-news .latest-news .news-show-more {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#cod-hub-news .latest-news .news-show-more a {
  min-height: 16px;
  padding: 12px 20px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-size: 2px;
  cursor: pointer;
  background-color: transparent;
  background-color: #000;
  color: #FFF;
}
@media screen and (min-width: 1920px) {
  #cod-hub-news .latest-news .news-entry {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  #cod-hub-news .inner-container {
    flex-wrap: wrap;
  }
  #cod-hub-news .latest-news {
    width: 100%;
    min-height: 500px;
  }
  #cod-hub-news .featured-news {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #cod-hub-news .hub-sub-tile {
    height: auto;
  }
  #cod-hub-news .featured-news {
    display: block;
  }
  #cod-hub-news .featured-news .hub-sub-tile {
    width: 100%;
  }
  #cod-hub-news .latest-news .news-entry .news-text .news-thumb {
    margin-right: 10px;
    width: 150px;
    height: 65px;
  }
  #cod-hub-news .latest-news .news-entry .news-text .news-title {
    width: calc(100% - 170px);
  }
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay {
  position: absolute;
  top: 0;
  width: 300px;
  height: 200px;
  opacity: 1;
  z-index: 15;
}
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay.news-modal-1 {
  left: 0;
}
html.aem-AuthorLayer-Edit .modal-type-video.modal-overlay .atvi-video {
  height: 200px;
}
html.aem-AuthorLayer-Edit .modal-overlay {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
html.aem-AuthorLayer-Edit .hub-sub-news-tile {
  position: relative;
  height: 400px;
  width: 500px;
}
.hub-sub-news-tile {
  width: 100%;
  position: absolute;
  height: 100%;
}
.hub-sub-news-tile:hover .tile-bgs .bg-img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.hub-sub-news-tile[data-tiletype="video"] > a {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hub-sub-news-tile[data-tiletype="video"] > a .tout-play-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
  -moz-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  -o-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  border: 1px solid #FFF;
  background: url("../../../../../../content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png");
  z-index: 10;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hub-sub-news-tile[data-tiletype="video"] > a .tout-play-btn:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 0 8.5px 15px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 52%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hub-sub-news-tile[data-tiletype="video"] > a:hover .tout-play-btn {
  -webkit-transform: scale(1.2) translate(-50%, -50%);
  -moz-transform: scale(1.2) translate(-50%, -50%);
  -ms-transform: scale(1.2) translate(-50%, -50%);
  -o-transform: scale(1.2) translate(-50%, -50%);
  transform: scale(1.2) translate(-50%, -50%);
}
.hub-sub-news-tile[data-game="mobile"] {
  border-bottom: 2px solid #ffe93c;
}
.hub-sub-news-tile[data-game="mobile"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/cod-m-icon.png") center center no-repeat;
  width: 80px;
  height: 80px;
}
.hub-sub-news-tile[data-game="mobile"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 107, 0, 0), #ff6b00, rgba(255, 107, 0, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: linear-gradient(to right, rgba(255, 107, 0, 0), #ffea00, rgba(255, 107, 0, 0));
}
.hub-sub-news-tile[data-game="mw"] {
  border-bottom: 2px solid #597985;
}
.hub-sub-news-tile[data-game="mw"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/kronos-icon.png") center center no-repeat;
  width: 101px;
  height: 32px;
  left: 0 !important;
}
.hub-sub-news-tile[data-game="mw"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(121, 217, 0, 0), #79d900, rgba(121, 217, 0, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: linear-gradient(to right, rgba(121, 217, 0, 0), #79d9ff, rgba(121, 217, 0, 0));
}
.hub-sub-news-tile[data-game="bo4"] {
  border-bottom: 2px solid #ff6600;
}
.hub-sub-news-tile[data-game="bo4"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/bo4-icon-dropshadow.png") center center no-repeat;
  width: 80px;
  height: 80px;
}
.hub-sub-news-tile[data-game="bo4"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 107, 0, 0), #ff6b00, rgba(255, 107, 0, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-sub-news-tile[data-game="wwii"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/bo4-icon-dropshadow.png") center center no-repeat;
  width: 80px;
  height: 80px;
}
.hub-sub-news-tile[data-game="wwii"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 107, 0, 0), #ff6b00, rgba(255, 107, 0, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-sub-news-tile[data-game="iw"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/bo4-icon-dropshadow.png") center center no-repeat;
  width: 80px;
  height: 80px;
}
.hub-sub-news-tile[data-game="iw"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 107, 0, 0), #ff6b00, rgba(255, 107, 0, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-sub-news-tile[data-game="cwl"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/hub/icons/cdl-icon.png") center center no-repeat;
  width: 80px;
  height: 80px;
  left: 0 !important;
}
.hub-sub-news-tile[data-game="cwl"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-sub-news-tile[data-game="mycod"] .game-icon .icon {
  background: url("../../../../../../content/dam/atvi/callofduty/hub/touch-ui/common/mycod-icon-dropshadow.png") center center no-repeat;
  width: 85px;
  height: 80px;
}
.hub-sub-news-tile[data-game="mycod"] .game-icon:before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-sub-news-tile .tile-bgs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000;
}
.hub-sub-news-tile .tile-bgs .tile-video-bg {
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hub-sub-news-tile .tile-bgs .tile-video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.hub-sub-news-tile .tile-bgs .tile-video-bg.mobile-video {
  display: none;
}
.hub-sub-news-tile .tile-bgs .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}
.hub-sub-news-tile .tile-content {
  width: 90%;
  max-width: 540px;
  text-align: left;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 10;
  padding-top: 50px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.hub-sub-news-tile .tile-content .game-icon {
  position: relative;
}
.hub-sub-news-tile .tile-content .game-icon .icon {
  position: relative;
  width: 80px;
  height: 80px;
  background-size: 100%;
  left: -20px;
}
.hub-sub-news-tile .tile-content .game-icon:before {
  content: "";
  display: block;
  display: none;
  height: 1px;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.hub-sub-news-tile .tile-content .tile-title {
  padding: 45px 0 0;
  margin-top: -40px;
}
.hub-sub-news-tile .tile-content .tile-title h3 {
  color: #FFF;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  letter-spacing: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif;
}
@media screen and (max-width: 1024px) {
  .hub-sub-news-tile {
    height: auto;
    padding-bottom: 56.25%;
    position: relative;
  }
  .hub-sub-news-tile .tile-bgs {
    /*.desktop-only { display: none; }
            .mobile-only  { display: block; }*/
  }
  .hub-sub-news-tile .tile-bgs .tile-video-bg video {
    height: auto;
    width: 100%;
  }
  .hub-sub-news-tile .tile-bgs .tile-video-bg.mobile-video {
    display: block;
  }
  .hub-sub-news-tile .tile-bgs .tile-video-bg.desktop-video {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  html[lang='en'] .cod-hub-hero .main-feature .hub-tile,
  html[lang='en'] .cod-hub-hero .sub-features .hub-tile {
    height: 33vw;
    min-height: 0px !important;
  }
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
/***************************************
COD HUB FOOTER
***************************************/
.cod-global-footer {
  background: #000;
  width: 100%;
  text-align: center;
  position: relative;
}
.cod-global-footer:before {
  content: "";
  width: 100%;
  background-color: rgba(50, 50, 50, 0.3);
  height: 12px;
  display: block;
}
.cod-global-footer .line-break-footer,
.cod-global-footer .footer-links,
.cod-global-footer .privacy-policy,
.cod-global-footer .esrb-logos {
  margin-bottom: 40px;
}
.cod-global-footer ul {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cod-global-footer p {
  font-size: 11px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #adabab;
  letter-spacing: 1px;
  text-shadow: 0px 0px 18px #646464;
  line-height: 130%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  margin: 0px auto 20px auto;
  max-width: 960px;
  opacity: 1;
}
.cod-global-footer .basic-margin {
  margin-top: 1rem;
}
.cod-global-footer .caps {
  text-transform: uppercase;
}
.cod-global-footer .inner-footer {
  width: 60%;
  padding: 100px 15px;
  margin: 0 auto;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.cod-global-footer .footer-links li {
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #adabab;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
  opacity: 1;
  text-decoration: none;
}
.cod-global-footer .footer-links li:last-of-type {
  display: none;
}
.cod-global-footer .footer-links a {
  color: #adabab;
  text-decoration: none;
}
.cod-global-footer .footer-link-item {
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #adabab;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}
.cod-global-footer .footer-link-item a {
  color: #adabab;
  text-decoration: none;
}
.cod-global-footer .line-break-footer {
  margin-bottom: 40px;
}
.cod-global-footer .line-break-footer .break {
  background-color: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.cod-global-footer .line-break-footer .break2first {
  flex: 0 0 2px;
  margin-right: 4px;
  height: 2px;
  background-color: #ffffff;
}
.cod-global-footer .line-break-footer .break423 {
  flex: 423 0 0;
  margin-right: 4px;
  height: 1px;
}
.cod-global-footer .line-break-footer .break93 {
  flex: 93 0 0;
  margin-right: 4px;
  height: 2px;
}
.cod-global-footer .line-break-footer .break2last {
  flex: 0 0 2px;
  height: 2px;
  background-color: #ffffff;
}
.cod-global-footer .studios li {
  width: 160px;
  margin-bottom: 20px;
  max-width: 160px;
  padding: 0 10px;
}
.cod-global-footer .studios li img {
  width: 100%;
}
.cod-global-footer .esrb-logos {
  width: 70%;
  margin: 0 auto;
}
.cod-global-footer .esrb-logos li {
  width: 160px;
  margin-bottom: 20px;
}
.cod-global-footer .esrb-logos li img {
  width: 100%;
}
.cod-global-footer .esrb-logos li:last-of-type {
  width: 260px;
}
.cod-global-footer .copyright {
  font-size: 11px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #adabab;
  letter-spacing: 1px;
  text-shadow: 0px 0px 18px #646464;
  line-height: 130%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  margin: 0px auto 20px auto;
  max-width: 960px;
  opacity: 1;
}
.cod-global-footer .footer-locale-selector {
  margin-top: 25px;
  position: relative;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector {
  display: block;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector a {
  color: #FFF;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector a.CN > .region,
.cod-global-footer .footer-locale-selector .atvi-locale-selector a.TW > .region {
  display: block;
  color: #FFF;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-menu {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-menu .locale-list {
  background: #434343;
  display: block;
  text-align: left;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-menu .locale-list li {
  display: inline-block;
  margin-right: 10px;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-menu .close-button {
  display: none;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .CN .flag,
.cod-global-footer .footer-locale-selector .atvi-locale-selector .TW .flag {
  opacity: 0;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .region {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-list {
  width: 340px;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-entry {
  width: 45%;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-entry.loc-mx.MX {
  display: none;
}
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-entry.CN .flag,
.cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-entry.TW .flag {
  display: none;
}
@media screen and (max-width: 1300px) {
  .cod-global-footer .inner-footer {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .cod-global-footer .desktop-only {
    display: none;
  }
  .cod-global-footer .inner-footer {
    width: 90%;
  }
  .cod-global-footer .line-break-footer {
    display: none;
  }
  .cod-global-footer ul {
    display: block;
  }
  .cod-global-footer .footer-links li,
  .cod-global-footer .studios li,
  .cod-global-footer .esrb-logos li {
    margin: 0 auto 20px;
  }
  .cod-global-footer .esrb-logos {
    width: 100%;
  }
  .cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-menu {
    width: 100%;
  }
  .cod-global-footer .footer-locale-selector .atvi-locale-selector .locale-menu .locale-list {
    width: 100%;
  }
}
html:not([lang="en"]):not([lang="en-CA"]):not([lang="es-MX"]):not([lang="fr-CA"]):not([lang="en-AR"]) .cod-global-footer .esrb-logos li:last-of-type {
  width: 100px !important;
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
body {
  background-color: #000 !important;
}
body.with-sso-bar {
  margin-top: 53px !important;
}
body > .root > .aem-Grid #bo4-wtb {
  padding-top: 100px;
}
@media screen and (min-width: 1024px) {
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper {
    width: 80%;
    max-width: 1280px;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-title {
    margin: 0px;
    text-align: left;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-subtitle {
    margin: 15px 0 20px;
    text-align: left;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-container .buy-header-desc.float-left,
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-container .buy-header-desc.float-right {
    width: 100%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-container .buy-header-desc.float-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header {
    order: 3;
    width: 30%;
    min-width: 30%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-column-one {
    order: 1;
    width: 30%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-column-two {
    order: 2;
    width: 30%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .disclaimer-text-container {
    order: 3;
  }
}
body > .root > .aem-Grid > .modal-overlay {
  transition: all .8s !important;
}
.modal-overlay {
  opacity: 0;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background: #000;
  cursor: default;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.modal-overlay.active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.modal-overlay.active:before {
  content: "";
  display: none;
}
.modal-overlay .inner-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*top: 50%;
        left: 50%;
        .translate(-50%,-50%);*/
}
.modal-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.modal-overlay .modal-close {
  font-family: sans-serif;
  font-size: 90px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #FFF;
  cursor: pointer;
  z-index: 10;
  display: block;
}
.modal-overlay .modal-content {
  position: relative;
  z-index: 9;
}
.modal-overlay .external-link-overlay {
  display: none;
}
.atvi-video .atvi-agegate {
  background: #000;
}
.atvi-video .atvi-agegate h2.dob-prompt {
  color: #FFF;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.atvi-video .atvi-agegate .submit {
  background-color: #FFF;
  color: #000;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute !important;
}
.modal-content .atvi-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content .atvi-video .player-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wtb-component {
  padding-top: 50px;
}
@media screen and (min-width: 1024px) {
  .wtb-component {
    padding-top: 100px;
  }
}
.wtb-component .atvi-wheretobuy {
  margin: 0 auto 100px;
}

