@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.edition-comparison-container {
  position: relative;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/common/bg-tile-text-v2.png) #000000 top center repeat;
  padding: 100px 0;
}
.edition-comparison-container .border-top {
  height: 8px;
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
  background-size: 4px;
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.edition-comparison-container .header {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #dbbd40;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;
}
.edition-comparison-container .comparison-container {
  /*@media screen and (max-width: 900px) and (min-width: 860px) {
            width: 95%;
        }*/
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #ffffff;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
}
.edition-comparison-container .comparison-container .box-art-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.edition-comparison-container .comparison-container .box-art-container .edition {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
  text-align: center;
}
.edition-comparison-container .comparison-container .box-art-container .edition .box-art {
  min-height: 300px;
}
.edition-comparison-container .comparison-container .box-art-container .edition .edition-name {
  margin: 45px auto;
  height: 20px;
  width: 80%;
}
.edition-comparison-container .comparison-container .box-art-container .edition .cta-container {
  min-width: 250px;
  height: 40px;
  background-color: #713000;
  display: inline-block;
  margin: 0 auto;
  min-width: 150px;
  margin-bottom: 45px;
}
.edition-comparison-container .comparison-container .box-art-container .edition .cta-container a {
  color: #ffffff;
  background-color: #713000;
  border: 2px solid #f07113;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(240, 113, 19, 0.6);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #f07113;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.edition-comparison-container .comparison-container .box-art-container .edition .cta-container a:hover {
  color: #ffffff;
  background-color: #aa4800;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
  text-align: center;
  margin: 0 4%;
  position: relative;
  height: 80px;
  border-bottom: 1px solid #adabab;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs:first-of-type {
  border-bottom: none;
}
@media screen and (max-width: 1150px) and (min-width: 860px) {
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs:first-of-type {
    width: 100px;
  }
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs .feature {
  display: none;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs .feature .checkmark:before {
  content: "";
  display: inline-block;
  color: white;
  text-align: center;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/pc/buy-comparison/tick.svg) center center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs .feature .x-mark:before {
  content: "";
  display: inline-block;
  color: white;
  text-align: center;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/pc/buy-comparison/cross.svg) center center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-label {
  text-align: left;
  padding: 20px 0;
}
.edition-comparison-container .comparison-container .edition-info-container .edition-info:last-of-type .edition-specs {
  border-bottom: none;
}
.edition-comparison-container .mobile-cta-container {
  text-align: center;
  margin-top: 45px;
  display: none;
}
.edition-comparison-container .mobile-cta-container .cta-container {
  min-width: 250px;
  height: 40px;
  background-color: #713000;
  display: inline-block;
  margin: 0 auto;
  width: 80%;
}
.edition-comparison-container .mobile-cta-container .cta-container a {
  color: #ffffff;
  background-color: #713000;
  border: 2px solid #f07113;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(240, 113, 19, 0.6);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #f07113;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.edition-comparison-container .mobile-cta-container .cta-container a:hover {
  color: #ffffff;
  background-color: #aa4800;
}
.edition-comparison-container .mobile-cta-container .cta-container a {
  padding: 13px;
}
.edition-comparison-container .legal-disclaimer {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #adabab;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px black;
  line-height: 130%;
  width: 50%;
  margin: 45px auto 0;
}
@media screen and (max-width: 1280px) {
  .edition-comparison-container .comparison-container {
    font-size: 12px;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition .box-art {
    min-height: 200px;
  }
}
@media screen and (max-width: 860px) {
  .edition-comparison-container {
    background: black;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition .box-art {
    min-height: 180px;
    margin-top: 25px;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition .cta-container {
    display: none;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition:nth-of-type(odd) {
    background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/common/bg-tile-text-v2.png) #000000 top center repeat;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition .edition-name {
    height: 40px;
  }
  .edition-comparison-container .comparison-container .box-art-container .td-space {
    display: none;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info {
    -webkit-box-lines: multiple;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-label {
    width: 100%;
    flex: unset;
    height: auto;
    text-align: center !important;
    border-bottom: 1px solid #adabab !important;
    border-top: 1px solid #adabab;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs {
    border-bottom: none;
    margin: 0;
    padding: 20px 0;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs .desktop {
    display: none;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs .feature {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs:nth-of-type(odd) {
    background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/common/bg-tile-text-v2.png) #000000 top center repeat;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs:nth-of-type(1) {
    background: none;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info.edition-info-2 .edition-2 .text,
  .edition-comparison-container .comparison-container .edition-info-container .edition-info.edition-info-2 .edition-3 .text,
  .edition-comparison-container .comparison-container .edition-info-container .edition-info.edition-info-2 .edition-4 .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 768px) {
  .edition-comparison-container .border-top {
    display: block;
  }
  .edition-comparison-container .header {
    margin-bottom: 30px;
  }
  .edition-comparison-container .comparison-container {
    width: 100%;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition {
    padding: 0;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition .edition-name {
    margin: 30px auto;
    width: 100%;
    letter-spacing: 1px;
    text-shadow: none;
  }
  .edition-comparison-container .comparison-container .box-art-container .edition .box-art {
    min-height: 120px;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info.edition-info-2 {
    /*.edition-1, .edition-2, .edition-3 {
                            padding: 40px 0;
                        }*/
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-label {
    letter-spacing: 1px;
    text-shadow: none;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .feature span {
    letter-spacing: 1px;
    text-shadow: none;
  }
  .edition-comparison-container .mobile-cta-container {
    display: block;
  }
  .edition-comparison-container .legal-disclaimer {
    width: 80%;
  }
}
@media screen and (max-width: 350px) {
  .edition-comparison-container .scroll-wrapper {
    overflow-x: scroll;
  }
  .edition-comparison-container .scroll-wrapper::-webkit-scrollbar {
    display: none;
  }
  .edition-comparison-container .comparison-container {
    width: 600px;
    height: 100%;
  }
  .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs > span {
    position: -webkit-sticky;
    position: sticky;
    left: 10vw;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    max-width: 80vw !important;
    float: left;
    width: 100%;
  }
}
@media screen and (max-width: 1066px) and (min-width: 860px) {
  .ru .edition-comparison-container .comparison-container .edition-info-container .edition-info-1 .edition-1 {
    padding: 35px 0;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-label {
  text-align: right;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
html[lang="ko"] .edition-comparison-container .comparison-container .box-art-container .edition-3 {
  display: none;
}
html[lang="ko"] .edition-comparison-container .comparison-container .edition-info-container .edition-info .edition-specs.edition-4 {
  display: none;
}

