@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.bo4-modal-tile-component {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.modal-tile {
  position: relative;
  padding-bottom: 100%;
}
.modal-tile .tile-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-tile .tile-container .tile-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
}
.modal-tile .tile-container .tile-inner .play-button {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: #191919 url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  border: 2px solid #565656;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative;
  left: unset;
  top: unset;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-bottom: 20%;
}
.modal-tile .tile-container .tile-inner .play-button:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal-tile .tile-container .tile-inner .play-button:hover {
  width: 66px;
  height: 66px;
  background-color: #3c3c3c;
  border: 2px solid #fff;
}
.modal-tile .tile-container .tile-inner .copy-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
}
.modal-tile .tile-container .tile-inner .copy-container .header {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #dbbd40;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.modal-tile .tile-container .tile-inner .copy-container .description {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #adabab;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px black;
  line-height: 130%;
  width: 80%;
  margin: 0 auto;
  min-height: 50px;
}
@media screen and (max-width: 1480px) {
  .modal-tile {
    padding-bottom: 120%;
  }
}
@media screen and (max-width: 1024px) {
  .modal-tile {
    padding-bottom: 155%;
  }
}
@media screen and (max-width: 768px) {
  .modal-tile {
    padding-bottom: 135%;
  }
  .modal-tile .tile-container .tile-inner .copy-container .description {
    width: 85%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.video-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999;
}
.video-modal .modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.video-modal .modal-close:after {
  content: "+";
  color: #FFF;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-modal .modal-inner {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-modal .modal-inner .atvi-video .external-link-overlay {
  display: none;
}
.video-modal .modal-inner .atvi-video .controls {
  position: relative;
}
.video-modal .modal-inner .atvi-video .controls .controls-container {
  display: block;
}
.video-modal img {
  width: 100%;
}

