.cod-global-footer {
  background: #FFF;
  width: 100%;
}
.cod-global-footer .inner-footer {
  width: 100%;
  max-width: 1280px;
  padding: 30px 15px;
  margin: 0 auto 40px;
}
.cod-global-footer .footer-top:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.cod-global-footer .footer-top .footer-top-left {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.cod-global-footer .footer-top .footer-top-left li {
  margin: 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1.7;
  text-transform: uppercase;
}
.cod-global-footer .footer-top .footer-top-left li a {
  color: #9b9b9b;
  text-decoration: none;
}
.cod-global-footer .footer-top .footer-top-left li a:hover {
  color: #000;
}
.cod-global-footer .footer-top .footer-top-right {
  float: right;
  width: 50%;
}
.cod-global-footer .footer-top .footer-top-right .activision-link {
  background-image: url(../../../../../../../content/dam/atvi/callofduty/hub/main-hub/activision-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 81px;
  max-width: 320px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-bottom: 40px;
}
.cod-global-footer .footer-bottom:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.cod-global-footer .footer-bottom .footer-bottom-left {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.cod-global-footer .footer-bottom .footer-bottom-left p {
  line-height: 1.4;
  color: #9b9b9b;
  font-size: 12px;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.cod-global-footer .footer-bottom .footer-bottom-right {
  float: right;
  width: 50%;
}
.cod-global-footer .footer-bottom .footer-bottom-right li {
  display: inline-block;
  margin-right: 10px;
}
.cod-global-footer .footer-bottom .footer-bottom-right .ratings-logo {
  width: 336px;
  height: 120px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector {
  margin-top: 25px;
  position: relative;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector {
  display: block;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector a {
  color: #FFF;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector a.CN > .region,
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector a.TW > .region {
  display: block;
  color: #000;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector .CN .flag,
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector .TW .flag {
  opacity: 0;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector .locale-entry {
  width: 45%;
}
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector .locale-entry.CN .flag,
.cod-global-footer .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector .locale-entry.TW .flag {
  display: none;
}
.cod-global-footer .footer-bottom .footer-bottom-right:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
@media screen and (min-width: 681px) {
  .cod-global-footer .footer-bottom .footer-bottom-right {
    margin-top: -70px;
  }
}
@media screen and (max-width: 768px) {
  .cod-global-footer .footer-bottom .footer-bottom-right .ratings-logo {
    width: 220px;
  }
}
@media screen and (max-width: 480px) {
  .cod-global-footer .footer-top .footer-top-right,
  .cod-global-footer .footer-top .footer-top-left {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .cod-global-footer .footer-top .footer-top-right {
    margin-bottom: 25px;
  }
  .cod-global-footer .footer-top .footer-top-right .activision-link {
    max-width: 100%;
  }
  .cod-global-footer .footer-top .footer-top-left ul {
    text-align: center;
  }
  .cod-global-footer .footer-bottom .footer-bottom-right,
  .cod-global-footer .footer-bottom .footer-bottom-left {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .cod-global-footer .footer-bottom .footer-bottom-right {
    margin-top: 25px;
  }
}
html[lang="ar"] .cod-global-footer .footer-top .footer-top-right .activision-link {
  float: left;
}
html[lang="ar"] .cod-global-footer .footer-bottom .footer-bottom-right .atvi-locale-selector .current .flag {
  float: left;
  margin-top: 100px;
}
html[lang="ar"] .cod-global-footer .footer-bottom .footer-bottom-right ul {
  width: 100%;
  height: 100%;
  display: inline-block;
}
html[lang="ar"] .cod-global-footer .footer-bottom .footer-bottom-right ul li {
  width: 100%;
  height: 100%;
  display: inline;
}
html[lang="ar"] .cod-global-footer .footer-bottom .footer-bottom-right ul li .ratings-logo {
  float: left;
}
