@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.home-hero {
  height: 1000px;
  background-color: black;
  position: relative;
}
@media screen and (max-width: 1680px) {
  .home-hero {
    height: 750px;
  }
}
@media screen and (max-width: 480px) {
  .home-hero {
    height: 725px;
  }
}
.home-hero .hero-background {
  height: 100%;
}
.home-hero .hero-background .bg {
  height: 100%;
  /*max-width: 1280px;*/
  margin: auto;
}
.home-hero .hero-background .bg.mobile {
  display: none;
  background-size: contain !important;
  background-position: top !important;
}
@media screen and (max-width: 768px) {
  .home-hero .hero-background .bg.mobile {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .home-hero .hero-background .bg.desktop {
    display: none;
  }
}
.home-hero .content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 960px;
  width: 50%;
  padding: 0;
  text-align: center;
  z-index: 1000;
}
.home-hero .content .logo img {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .home-hero .content .logo img {
    width: 100%;
  }
}
.home-hero .content .cta-container {
  min-width: 250px;
  height: 40px;
  background-color: #713000;
  display: inline-block;
  margin: 0 auto;
  margin-top: 25px;
}
.home-hero .content .cta-container a {
  color: #ffffff;
  background-color: #713000;
  border: 2px solid #f07113;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(240, 113, 19, 0.6);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #f07113;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.home-hero .content .cta-container a:hover {
  color: #ffffff;
  background-color: #aa4800;
}
@media screen and (max-width: 767px) {
  .home-hero .content {
    top: 35%;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .home-hero .content {
    top: 40%;
  }
}
.home-hero .content .header {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
  color: #dbbd40;
  margin-bottom: 15px;
  animation-delay: 1s;
}
.home-hero .content .description {
  margin-bottom: 15px;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #adabab;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px black;
  line-height: 130%;
  color: white;
  animation-delay: 1.5s;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.comic-viewer .page-nav {
  height: 100%;
  width: 12%;
  opacity: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  /**LEFT ARROW & RIGHT ARROW**/
  /**HOVER ANIMATION FOR ARROWS**/
}
.comic-viewer .page-nav .nav-container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  top: 5%;
  /*mozilla fix*/
}
.comic-viewer .page-nav .nav-container.left-container {
  left: -100%;
}
.comic-viewer .page-nav .nav-container.right-container {
  right: -100%;
}
@-moz-document url-prefix() {
  .left-container {
    left: 0 !important;
  }
  .right-container {
    right: 0 !Important;
  }
}
.comic-viewer .page-nav img {
  width: 80px;
  height: 80px;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
.comic-viewer .page-nav img:hover {
  background: rgba(255, 255, 255, 0.3);
}
.comic-viewer .page-nav .top-line,
.comic-viewer .page-nav .bottom-line {
  height: calc(50% - 150px);
  width: 10px;
  position: absolute;
}
.comic-viewer .page-nav.left-nav {
  left: 0;
}
.comic-viewer .page-nav.left-nav img {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.comic-viewer .page-nav.left-nav .top-line {
  left: 50%;
  top: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.comic-viewer .page-nav.left-nav .bottom-line {
  left: 50%;
  bottom: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1680px) {
  .comic-viewer .page-nav.left-nav .top-line {
    top: 95px;
  }
  .comic-viewer .page-nav.left-nav .bottom-line {
    bottom: 95px;
  }
}
.comic-viewer .page-nav.right-nav {
  right: 0;
}
.comic-viewer .page-nav.right-nav img {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
.comic-viewer .page-nav.right-nav .top-line {
  right: 50%;
  top: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.comic-viewer .page-nav.right-nav .bottom-line {
  right: 50%;
  bottom: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1680px) {
  .comic-viewer .page-nav.right-nav .top-line {
    top: 95px;
  }
  .comic-viewer .page-nav.right-nav .bottom-line {
    bottom: 95px;
  }
}
.comic-viewer .page-nav.hover-active {
  opacity: 1;
}
.comic-viewer .page-nav.hover-active .nav-container.left-container {
  left: 0;
}
.comic-viewer .page-nav.hover-active .nav-container.right-container {
  right: 0;
}
@media screen and (max-width: 1680px) {
  .comic-viewer .page-nav {
    width: 8%;
  }
}
@media screen and (max-width: 1024px) {
  .comic-viewer .page-nav {
    display: none;
  }
  .comic-viewer .page-nav .nav-container {
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .comic-viewer .page-nav.hover-active {
    display: none;
  }
}
/*firefox fix to make arrows permanent*/
@-moz-document url-prefix() {
  .comic-viewer .page-nav {
    opacity: 1 !important;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.bo4-comics-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1000;
  display: none;
}
.comic-viewer {
  height: 1000px;
  position: relative;
  /********COMIC VIEWER************/
  /****download button******/
  /***queries***/
}
.comic-viewer .comic-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.comic-viewer .comic-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1680px) {
  .comic-viewer .comic-container {
    max-width: 900px;
  }
}
@media screen and (max-width: 1024px) {
  .comic-viewer .comic-container {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .comic-viewer .comic-container {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .comic-viewer .comic-container {
    width: 90%;
    height: 650px;
  }
}
@media screen and (max-width: 480px) {
  .comic-viewer .comic-container {
    height: 550px;
  }
}
.comic-viewer .comic-book {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 100px;
  margin: 16px auto;
  display: none;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}
@media screen and (max-width: 1680px) {
  .comic-viewer .comic-book {
    height: 100%;
  }
}
@media screen and (max-width: 1460px) {
  .comic-viewer .comic-book {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .comic-viewer .comic-book {
    height: 81%;
  }
}
.comic-viewer .comic-pages {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.comic-viewer .page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s -webkit-transform -0.01s;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
  transition: 1.5s transform -0.01s;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.comic-viewer .front {
  border-left: 1px solid #000;
}
.comic-viewer .front,
.comic-viewer .back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.comic-viewer .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.comic-viewer .leaf img {
  width: 100%;
  height: 100%;
}
.comic-viewer .turning {
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.comic-viewer .page.active {
  z-index: 1;
}
.comic-viewer .page.flipped {
  z-index: 1;
  -webkit-transform: rotateY(-180deg) translateZ(1px);
  -moz-transform: rotateY(-180deg) translateZ(1px);
  -ms-transform: rotateY(-180deg) translateZ(1px);
  -o-transform: rotateY(-180deg) translateZ(1px);
  transform: rotateY(-180deg) translateZ(1px);
}
.comic-viewer .page.flipped:last-of-type {
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .comic-viewer {
    height: 1200px;
  }
  .comic-viewer .comic-book {
    width: 100%;
    left: 0;
    top: 50px;
  }
  .comic-viewer .leaf {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    -webkit-transition: 1.5s -webkit-transform;
    transition: 1.5s transform;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .comic-viewer .leaf.active-leaf {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .comic-viewer .leaf.flipped-leaf {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  .comic-viewer .leaf.flipped-leaf:last-of-type {
    z-index: 1;
  }
}
.comic-viewer .download-comic {
  position: absolute;
  right: -85px;
  bottom: 150px;
  display: none;
}
@media screen and (max-width: 768px) {
  .comic-viewer .download-comic {
    bottom: -300px;
  }
}
@media screen and (max-width: 480px) {
  .comic-viewer .download-comic {
    right: 0;
    bottom: -15px;
  }
}
.comic-viewer .download-button {
  width: 50px;
  height: 50px;
  z-index: 999999;
  border: 3px solid #fff;
}
.comic-viewer .download-button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .comic-viewer {
    height: 1000px;
  }
}
@media screen and (max-width: 480px) {
  .comic-viewer {
    height: 725px;
  }
}
/*MS edge only styles*/
@supports (-ms-ime-align: auto) {
  .comic-viewer .page {
    transform-style: preserve-3d;
  }
  .comic-viewer .page.active {
    -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
    -moz-transform: translate3d(0, 0, 0) rotateY(0deg);
    -ms-transform: translate3d(0, 0, 0) rotateY(0deg);
    -o-transform: translate3d(0, 0, 0) rotateY(0deg);
    transform: translate3d(0, 0, 0) rotateY(0deg);
  }
  .comic-viewer .page.flipped {
    -webkit-transform: translate3d(0, 0, 1px) rotateY(-180deg);
    -moz-transform: translate3d(0, 0, 1px) rotateY(-180deg);
    -ms-transform: translate3d(0, 0, 1px) rotateY(-180deg);
    -o-transform: translate3d(0, 0, 1px) rotateY(-180deg);
    transform: translate3d(0, 0, 1px) rotateY(-180deg);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .comic-viewer .page.flipped .back {
    backface-visibility: visible;
  }
}
@-moz-document url-prefix() {
  .comic-viewer .page.flipped {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.comic-viewer .comic-sub-nav {
  position: absolute;
  bottom: -150px;
  left: 50%;
  width: 100%;
  height: 150px;
  z-index: 50;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  overflow: hidden;
  /****SUB NAV****/
  /***SUB NAV ARROWS***/
}
.comic-viewer .comic-sub-nav .sub-nav-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: relative;
  padding: 40px 0px;
  bottom: -100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.comic-viewer .comic-sub-nav.hover-active .sub-nav-container {
  bottom: 0;
}
.comic-viewer .comic-sub-nav .sub-nav {
  display: none;
}
.comic-viewer .comic-sub-nav .sub-nav.active-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet {
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet .thumb {
  position: relative;
  margin: 0 auto 10px;
  width: 70%;
  height: 60%;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet .thumb img {
  height: 100%;
  width: 100%;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet .thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .7;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet .thumb:hover:after {
  opacity: 0;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet .leaf-index {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #adabab;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px black;
  line-height: 130%;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet.active-page .thumb:after {
  opacity: 0;
}
.comic-viewer .comic-sub-nav .sub-nav .leaflet.active-page .leaf-index {
  color: #dbbd40;
}
.comic-viewer .comic-sub-nav .mobile-sub-nav {
  display: none;
}
.comic-viewer .comic-sub-nav .sub-nav-arrow {
  position: absolute;
  display: none;
}
.comic-viewer .comic-sub-nav .sub-nav-arrow.left {
  left: 0;
  top: 33%;
}
.comic-viewer .comic-sub-nav .sub-nav-arrow.left:before {
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/comics/common/arrow.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
}
.comic-viewer .comic-sub-nav .sub-nav-arrow.right {
  right: 20px;
  top: 33%;
}
.comic-viewer .comic-sub-nav .sub-nav-arrow.right:after {
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/comics/common/arrow.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .comic-viewer .comic-sub-nav.hover-active .sub-nav-container {
    bottom: -50px;
  }
  .comic-viewer .comic-sub-nav .sub-nav-container {
    bottom: -50px;
    width: 25%;
    height: 0;
    margin: 0 auto;
  }
  .comic-viewer .comic-sub-nav .sub-nav .leaflet {
    display: none;
  }
  .comic-viewer .comic-sub-nav .sub-nav-arrow {
    display: inline-block;
  }
  .comic-viewer .comic-sub-nav .mobile-sub-nav {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
  }
  .comic-viewer .comic-sub-nav .mobile-sub-nav .current-page {
    font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #adabab;
    letter-spacing: 2px;
    text-shadow: 0px 0px 18px black;
    line-height: 130%;
  }
}
@media screen and (max-width: 640px) {
  .comic-viewer .comic-sub-nav.hover-active .sub-nav-container {
    bottom: -50%;
  }
  .comic-viewer .comic-sub-nav .sub-nav-container {
    bottom: -50%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.comic-tiles-container {
  position: relative;
  /**border top bottom**/
}
.comic-tiles-container .comic-tiles-main {
  /**flexbox**/
  /**comic tiles**/
}
.comic-tiles-container .comic-tiles-main .header {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #dbbd40;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
  width: 50%;
  margin: 100px auto 0;
  text-align: center;
}
.comic-tiles-container .comic-tiles-main .comic-tiles-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-lines: multiple;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 75%;
  margin: 100px auto;
}
@media screen and (max-width: 768px) {
  .comic-tiles-container .comic-tiles-main .comic-tiles-flexbox {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .comic-tiles-container .comic-tiles-main .comic-tiles-flexbox {
    width: 100%;
  }
}
.comic-tiles-container .comic-tiles-main .comic-tile {
  width: 20%;
  text-align: center;
  margin-bottom: 100px;
}
.comic-tiles-container .comic-tiles-main .comic-tile .comic-cover {
  min-height: 100px;
  max-height: 500px;
  text-align: center;
}
.comic-tiles-container .comic-tiles-main .comic-tile .comic-cover img {
  width: 80%;
  height: 80%;
}
.comic-tiles-container .comic-tiles-main .comic-tile .comic-title {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #dbbd40;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
  font-size: 16px;
  margin: 25px auto;
}
.comic-tiles-container .comic-tiles-main .comic-tile button {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  border: 2px solid #f07113;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background: #713000 url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(240, 113, 19, 0.6);
  display: inline-block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #f07113;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.comic-tiles-container .comic-tiles-main .comic-tile button:hover {
  color: #fff;
  background-color: #aa4800;
}
.comic-tiles-container .comic-tiles-main .comic-tile .download-cta {
  min-width: 250px;
  height: 40px;
  background-color: #191919;
  display: inline-block;
  margin: 0 auto;
  min-width: 0;
  width: 80%;
  margin-top: 25px;
  display: none;
}
.comic-tiles-container .comic-tiles-main .comic-tile .download-cta a {
  color: #adabab;
  border: 2px solid #565656;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(125, 125, 125, 0.2);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #ffffff;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
  padding: 13px;
}
.comic-tiles-container .comic-tiles-main .comic-tile .download-cta a:hover {
  color: #ffffff;
  background-color: #3c3c3c;
  border: 2px solid #ffffff;
}
.comic-tiles-container .comic-tiles-main .comic-tile .coming-soon {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  color: #5e5e5e;
  border: 2px solid #2d2d2d;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px;
  display: inline-block;
  letter-spacing: 3px;
}
@media screen and (max-width: 1024px) {
  .comic-tiles-container .comic-tiles-main .comic-tile .coming-soon {
    padding: 9px;
  }
}
@media screen and (max-width: 1024px) {
  .comic-tiles-container .comic-tiles-main .comic-tile {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .comic-tiles-container .comic-tiles-main .comic-tile .header {
    margin: 50px auto 0;
  }
  .comic-tiles-container .comic-tiles-main .comic-tile .comic-tiles-flexbox {
    margin: 50px auto 0;
    width: 100%;
  }
}
.comic-tiles-container .border-top {
  width: 100%;
  height: 8px;
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
  background-size: 4px;
  background-color: transparent;
  position: absolute;
  position: relative;
}
.comic-tiles-container .border-bottom {
  width: 100%;
  height: 8px;
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
  background-size: 4px;
  background-color: transparent;
  position: absolute;
  position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@media screen and (max-width: 768px) {
  .home-hero {
    height: 900px;
  }
}
@media screen and (max-width: 480px) {
  .home-hero {
    height: 725px;
  }
}
.home-hero .hero-background .bg.mobile {
  background-size: cover !important;
}

