@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.feature-container-v2 {
  color: #fff;
  position: relative;
  background-color: #000;
  /**************
    ANIMATE FEATURE
    **************/
  /************
    END ANIMATION
    *************/
}
.feature-container-v2 .main-container {
  position: relative;
  padding-bottom: 50%;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transition: all ease 0.7s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}
.feature-container-v2 .main-container .bg-desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.feature-container-v2 .main-container .bg-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  height: 400px;
}
.feature-container-v2 .main-container .feature-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 40px;
  text-align: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  /*********************
            BORDERS TOP AND BOTTOM
            **********************/
  /*********
            BORDER TOP
            *********/
  /*******************
            BORDER BOTTOM NO CTA
            *******************/
  /********************
            BORDERS RIGHT AND LEFT
            *********************/
  /*END BORDERS RIGHT AND LEFT*/
  /******************
            END BORDERS STYLES
            ******************/
}
.feature-container-v2 .main-container .feature-inner .text-line-break {
  margin: 0 auto 4px;
  width: 0%;
  height: 8px;
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
  background-size: 4px;
  background-color: transparent;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  /*BORDER WITH CTA*/
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta {
  position: absolute;
  bottom: 0;
  height: 4px;
  margin-bottom: 4px;
  width: 0;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transition: all ease 0.7s;
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta.right {
  right: 0;
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta.right:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  right: 0;
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta.right:before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  display: block;
  margin-top: -1px;
  position: absolute;
  left: 0;
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta.left {
  left: 0;
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta.left:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  left: 0;
}
.feature-container-v2 .main-container .feature-inner .text-line-break.border-bottom-cta.left:after {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  display: block;
  margin-top: -1px;
  position: absolute;
  right: 0;
}
.feature-container-v2 .main-container .feature-inner .border-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.feature-container-v2 .main-container .feature-inner .border-top .bt {
  margin-right: 4px;
  position: relative;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-left {
  -webkit-box-flex: 0 0 2px;
  -moz-box-flex: 0 0 2px;
  -webkit-flex: 0 0 2px;
  -ms-flex: 0 0 2px;
  flex: 0 0 2px;
  height: 2px;
  background-color: #ffffff;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-midleft {
  -webkit-box-flex: 423 0 0;
  -moz-box-flex: 423 0 0;
  -webkit-flex: 423 0 0;
  -ms-flex: 423 0 0;
  flex: 423 0 0;
  height: 1px;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-midleft span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-middle {
  -webkit-box-flex: 93 0 0;
  -moz-box-flex: 93 0 0;
  -webkit-flex: 93 0 0;
  -ms-flex: 93 0 0;
  flex: 93 0 0;
  height: 2px;
  background-color: #ffffff;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-middle span {
  width: 100%;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-midright {
  -webkit-box-flex: 423 0 0;
  -moz-box-flex: 423 0 0;
  -webkit-flex: 423 0 0;
  -ms-flex: 423 0 0;
  flex: 423 0 0;
  height: 1px;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-midright span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.feature-container-v2 .main-container .feature-inner .border-top .break-right {
  -webkit-box-flex: 0 0 2px;
  -moz-box-flex: 0 0 2px;
  -webkit-flex: 0 0 2px;
  -ms-flex: 0 0 2px;
  flex: 0 0 2px;
  height: 2px;
  margin-right: 0;
  background-color: #ffffff;
}
.feature-container-v2 .main-container .feature-inner .border-top span {
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  width: 0;
  height: 100%;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.feature-container-v2 .main-container .feature-inner .border-bottom-no-cta {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  margin-bottom: 4px;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transition: all ease 0.7s;
}
.feature-container-v2 .main-container .feature-inner .border-bottom-no-cta span {
  position: absolute;
  display: block;
  height: 100%;
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
.feature-container-v2 .main-container .feature-inner .border-bottom-no-cta span.border-bottom-left {
  left: 0;
  width: 0;
}
.feature-container-v2 .main-container .feature-inner .border-bottom-no-cta span.border-bottom-right {
  right: 0;
  width: 0;
}
.feature-container-v2 .main-container .feature-inner .border-bottom-no-cta:after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
.feature-container-v2 .main-container .feature-inner .border-bottom-no-cta:before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition-delay: 1.7s;
  -moz-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
.feature-container-v2 .main-container .feature-inner:after,
.feature-container-v2 .main-container .feature-inner:before {
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.feature-container-v2 .main-container .feature-inner:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  top: 20px;
  bottom: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.feature-container-v2 .main-container .feature-inner:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  top: 20px;
  bottom: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.feature-container-v2 .main-container .feature-inner .feature-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  /*&.cta-mode {
                    bottom: -15px;
                }*/
}
.feature-container-v2 .main-container .feature-inner .feature-info .play-pointer-container {
  display: none;
  height: 60px;
  width: 60px;
  margin: 0 auto 1%;
}
.feature-container-v2 .main-container .feature-inner .feature-info .play-pointer-container img {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
.feature-container-v2 .main-container .feature-inner .feature-info .feature-header h1 {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #dbbd40;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #dbbd40;
  text-transform: uppercase;
}
.feature-container-v2 .main-container .feature-inner .feature-info .feature-description {
  margin: 40px auto 50px;
  width: 50%;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #adabab;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px black;
  line-height: 130%;
}
.feature-container-v2 .main-container .feature-inner .feature-info .cta-container {
  min-width: 250px;
  height: 40px;
  background-color: #191919;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.feature-container-v2 .main-container .feature-inner .feature-info .cta-container a {
  color: #adabab;
  border: 2px solid #565656;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(125, 125, 125, 0.2);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #ffffff;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.feature-container-v2 .main-container .feature-inner .feature-info .cta-container a:hover {
  color: #ffffff;
  background-color: #3c3c3c;
  border: 2px solid #ffffff;
}
.feature-container-v2 .main-container .feature-inner .feature-info .cta-container a {
  padding: 13px;
}
.feature-container-v2 .main-container .feature-inner .play-button {
  /*content: "";
                .square(60px);
                cursor: pointer;
                margin: 0 auto 100px;
                background-color: rgba(0, 0, 0, .8);
                .transition(all ease .8s);
                position: relative;

                &:after {
                    
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid #fff;
                    display: inline-block;
                    .translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    position: absolute;
                }*/
  content: "";
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  margin: 0 auto 100px;
  background: #191919 url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  border: 2px solid #565656;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.feature-container-v2 .main-container .feature-inner .play-button:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.feature-container-v2 .main-container .feature-inner .play-button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #3c3c3c;
  border: 2px solid #fff;
}
.feature-container-v2 .main-container.video-mode {
  padding-bottom: 56.3%;
  opacity: 0;
}
.feature-container-v2 .video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.feature-container-v2 .video-container .video-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 100;
}
.feature-container-v2 .video-container .video-close:after {
  content: "+";
  color: #FFF;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.feature-container-v2.animate-active .main-container {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}
.feature-container-v2.animate-border .main-container .feature-inner:after,
.feature-container-v2.animate-border .main-container .feature-inner:before {
  bottom: 10px;
}
.feature-container-v2.animate-border .main-container .feature-inner .top-line-break {
  width: 100%;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-top .break-left span,
.feature-container-v2.animate-border .main-container .feature-inner .border-top .break-midleft span,
.feature-container-v2.animate-border .main-container .feature-inner .border-top .break-midright span,
.feature-container-v2.animate-border .main-container .feature-inner .border-top .break-right span {
  width: 100%;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-cta {
  width: calc(50% - 140px);
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-cta.right:after {
  width: 2px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-cta.right:before {
  width: 4px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-cta.left:after {
  width: 4px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-cta.left:before {
  width: 2px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-no-cta span {
  width: 50%;
}
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-no-cta:after,
.feature-container-v2.animate-border .main-container .feature-inner .border-bottom-no-cta:before {
  width: 2px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.feature-container-v2.animate-border .main-container .feature-inner .feature-info .play-pointer-container .play-pointer {
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .feature-container-v2 .main-container {
    padding-bottom: 60%;
  }
}
@media screen and (max-width: 1280px) {
  .feature-container-v2 .main-container {
    padding-bottom: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .feature-container-v2 .main-container {
    padding-bottom: 100%;
  }
  .feature-container-v2 .main-container .feature-inner {
    margin: 25px;
  }
  .feature-container-v2 .main-container .feature-inner .feature-info .feature-description {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .feature-container-v2 .main-container {
    padding-bottom: 120%;
    /*.bg-desktop {
				display: none;
            }

            .bg-mobile {
				display: block;
            }*/
  }
  .feature-container-v2 .main-container .feature-inner .feature-info .feature-description {
    width: 80%;
  }
}
@media screen and (max-width: 569px) {
  .feature-container-v2 .main-container {
    padding-bottom: 150%;
  }
}
@media screen and (max-width: 480px) {
  .feature-container-v2 .main-container {
    padding-bottom: 200%;
  }
  .feature-container-v2 .main-container .bg-desktop {
    display: none;
  }
  .feature-container-v2 .main-container .bg-mobile {
    display: block;
  }
}
