@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
body.app-mode > .root .aem-Grid > .experiencefragment:first-of-type,
body.app-mode > .root .aem-Grid > .experiencefragment:last-of-type,
body.app-mode .blog-navigation,
body.app-mode .atvi-cookie-disclaimer {
  display: none !important;
}
body.app-mode .blog-post-container {
  margin-top: 0;
}
.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
  float: none !important;
}
.cq-Editable-dom--container,
.aem-GridColumn.cq-Editable-dom--container {
  padding: 0;
}
.blog-post-container {
  margin-top: 50px;
}
.blog-post-container .inner-container {
  width: 100%;
  margin: 0 auto;
}
.blog-post-container .blog-header {
  position: relative;
  margin-bottom: 0;
}
.blog-post-container .blog-body {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.blog-post-container .blog-body b {
  font-weight: bold;
}
.blog-post-container .blog-body i {
  font-style: italic;
}
.blog-post-container .blog-body u {
  text-decoration: underline;
}
.blog-post-container .blog-body ul {
  list-style: disc;
  margin-left: 35px;
}
.blog-post-container .blog-body .aem-Grid > div:not(.blog-sub-nav):first-of-type {
  padding-top: 30px;
}
.blog-post-container p,
.blog-post-container li {
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.blog-post-container h1,
.blog-post-container h2,
.blog-post-container h3 {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
}
.blog-post-container a {
  color: #000;
}
.blog-post-container a:hover {
  text-decoration: none;
}
.blog-post-container strong {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .blog-post-container p,
  .blog-post-container li {
    font-size: 16px;
  }
}
.blog-post-container .vendor-embed .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
.blog-post-container .video.aem-GridColumn,
.blog-post-container .vendor-embed.aem-GridColumn {
  margin-bottom: 20px;
}
.blog-post-container .atvi-gallery {
  margin-bottom: 25px;
}
.blog-post-container .atvi-gallery .gallery-header {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-weight: bold;
  margin-top: 25px;
  font-size: 30px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1280px) {
  .blog-post-container #bo4-wtb-default .buy-column.buy-column-1 {
    margin-left: 2%;
  }
  .blog-post-container #bo4-wtb-default .buy-column.buy-column-2 {
    margin-right: 2%;
  }
  .blog-post-container #bo4-wtb-default .buy-column.buy-column-1,
  .blog-post-container #bo4-wtb-default .buy-column.buy-column-2 {
    width: 40%;
  }
  .blog-post-container #bo4-wtb-default .buy-column.buy-column-3 {
    width: 100%;
  }
}
.blog-post-container .wtb-component ul {
  list-style: none;
}
.blog-post-container .wtb-component .selectric .label {
  margin-bottom: 0;
}
.blog-post-container .wtb-component #bo4-wtb-default > .inner {
  width: 100%;
}
.blog-post-container .wtb-component .wtb-header-container .bundle-descriptions-list {
  padding: 0 15px;
  margin-left: 0;
}
.blog-post-container .wtb-component .wtb-form-container {
  padding: 0 15px;
}
.blog-post-container .wtb-component .wtb-form-container .wtb-form-list.buy-column {
  margin-left: 0;
}
.blog-post-container .wtb-component #bo4-wtb-default .disclaimers-container {
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .blog-post-container .wtb-component #bo4-wtb-default > .inner {
    width: 100%;
  }
}
.blog-post-container .image.parbase.aem-GridColumn img {
  width: 100%;
}
.blog-post-container .atvi-carousel .slides-container {
  padding-bottom: 56.25%;
}
.blog-post-container .atvi-carousel .carousel-header {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
.blog-post-container .atvi-carousel .slides-list {
  list-style: none;
  margin-left: 0;
}
.blog-post-container .atvi-carousel .slide-entry .background-image {
  background-size: cover;
}
.blog-post-container .atvi-carousel .inner-content {
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 15px 0;
}
.blog-post-container .atvi-carousel .carousel-nav-container {
  top: 57%;
}
.blog-post-container .atvi-carousel .carousel-indicators {
  display: none;
}
@media screen and (max-width: 640px) {
  .blog-post-container .atvi-carousel .carousel-nav-element {
    width: 25px;
    height: 43px;
  }
}
.blog-post-container .blog-body .atvi-html .video-embed-center {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.blog-post-container .blog-body .atvi-html .video-embed-center iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
.blog-post-container .blog-body .atvi-html .lia-message-body {
  overflow: auto;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content,
.blog-post-container .blog-body .atvi-html .lia-message-body,
.blog-post-container .blog-body .atvi-html .lia-message-editor,
.blog-post-container .blog-body .atvi-html .lia-note-body {
  margin-bottom: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content blockquote,
.blog-post-container .blog-body .atvi-html .lia-message-body blockquote,
.blog-post-container .blog-body .atvi-html .lia-message-editor blockquote,
.blog-post-container .blog-body .atvi-html .lia-note-body blockquote {
  padding-bottom: 0;
  padding-top: 0;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content blockquote hr,
.blog-post-container .blog-body .atvi-html .lia-message-body blockquote hr,
.blog-post-container .blog-body .atvi-html .lia-message-editor blockquote hr,
.blog-post-container .blog-body .atvi-html .lia-note-body blockquote hr {
  display: none;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content embed,
.blog-post-container .blog-body .atvi-html .lia-message-body-content iframe,
.blog-post-container .blog-body .atvi-html .lia-message-body-content object,
.blog-post-container .blog-body .atvi-html .lia-message-body-content video,
.blog-post-container .blog-body .atvi-html .lia-message-body embed,
.blog-post-container .blog-body .atvi-html .lia-message-body iframe,
.blog-post-container .blog-body .atvi-html .lia-message-body object,
.blog-post-container .blog-body .atvi-html .lia-message-body video,
.blog-post-container .blog-body .atvi-html .lia-message-editor embed,
.blog-post-container .blog-body .atvi-html .lia-message-editor iframe,
.blog-post-container .blog-body .atvi-html .lia-message-editor object,
.blog-post-container .blog-body .atvi-html .lia-message-editor video,
.blog-post-container .blog-body .atvi-html .lia-note-body embed,
.blog-post-container .blog-body .atvi-html .lia-note-body iframe,
.blog-post-container .blog-body .atvi-html .lia-note-body object,
.blog-post-container .blog-body .atvi-html .lia-note-body video {
  max-width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content .emoticon,
.blog-post-container .blog-body .atvi-html .lia-message-body .emoticon,
.blog-post-container .blog-body .atvi-html .lia-message-editor .emoticon,
.blog-post-container .blog-body .atvi-html .lia-note-body .emoticon {
  display: inline;
  vertical-align: text-bottom;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content ul,
.blog-post-container .blog-body .atvi-html .lia-message-body ul,
.blog-post-container .blog-body .atvi-html .lia-message-editor ul,
.blog-post-container .blog-body .atvi-html .lia-note-body ul {
  padding-left: 2.5em;
  list-style: outside;
  clear: left;
}
.blog-post-container .blog-body .atvi-html .lia-message-body-content p,
.blog-post-container .blog-body .atvi-html .lia-message-body p,
.blog-post-container .blog-body .atvi-html .lia-message-editor p,
.blog-post-container .blog-body .atvi-html .lia-note-body p {
  margin-bottom: 0;
}
.blog-post-container .blog-body .atvi-html .lia-inline-image-display-wrapper {
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.blog-post-container .blog-body .atvi-html .lia-inline-image-display-wrapper img {
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-inline-image-display-wrapper .lia-image-actions-actionable-elm {
  padding: 0;
}
.blog-post-container .blog-body .atvi-html .lia-inline-image-display-wrapper.lia-image-align-left {
  float: left;
  margin-right: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-inline-image-display-wrapper.lia-image-align-right {
  float: right;
  margin-left: 10px;
  text-align: right;
}
.blog-post-container .blog-body .atvi-html .lia-inline-image-display-wrapper.lia-image-align-center {
  clear: both;
  display: block;
  margin: auto;
}
.blog-post-container .blog-body .atvi-html .lia-image-caption,
.blog-post-container .blog-body .atvi-html .lia-inline-image-caption {
  color: #717171;
  cursor: text;
  display: block;
  font-size: 12px;
  font-style: italic;
  height: auto;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  text-align: left;
}
.blog-post-container .blog-body .atvi-html .lia-message-image-wrapper .lia-media-image {
  cursor: zoom-in;
}
.blog-post-container .blog-body .atvi-html .lia-lightbox-dialog {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10002;
}
.blog-post-container .blog-body .atvi-html .lia-lightbox-dialog .lia-close-button {
  cursor: pointer;
  float: right;
  height: 24px;
  opacity: .8;
  position: relative;
  width: 24px;
  z-index: 1020;
}
.blog-post-container .blog-body .atvi-html .lia-lightbox-footer-wrapper {
  bottom: 0;
  left: 0;
  max-height: 20%;
  min-height: 6.85714286em;
  position: absolute;
  right: 0;
  z-index: 100;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid {
  overflow: auto;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-card {
  border-radius: 6px;
  background-color: #fff;
  margin: 0 20px 20px 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card {
  padding: 4px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user {
  border-top: 3px #c4c4c4 solid;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-masonry-image {
  width: 100%;
  overflow: hidden;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-show-more {
  text-align: center;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-message-body {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  max-height: 82px;
  overflow: hidden;
  position: relative;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-author-name {
  border-top: 1px solid #c4c4c4;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-topic-update-time {
  font-size: 12px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-message-stats-wrapper svg {
  display: inline-block;
  height: 14px;
  vertical-align: middle;
  width: 14px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-topic-stat {
  display: inline-block;
  padding: 10px 0;
  vertical-align: middle;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-masonry-loading {
  padding: 100px;
  text-align: center;
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-card {
  padding: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card {
  padding: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user {
  border-top: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global .lia-messages-message-masonry-body,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user .lia-messages-message-masonry-body {
  position: relative;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global .lia-messages-message-masonry-body:before,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user .lia-messages-message-masonry-body:before {
  border-left: 40px solid transparent;
  border-top: 40px solid;
  border-top-color: #007fab;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global .lia-messages-message-masonry-body:after,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user .lia-messages-message-masonry-body:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #fff;
  content: "\f08d";
  font-size: 15.5px;
  position: absolute;
  right: 5px;
  top: 4px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global .lia-messages-message-subject,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user .lia-messages-message-subject {
  padding-right: 20px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-solved-topic .lia-messages-message-masonry-body {
  position: relative;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-solved-topic .lia-messages-message-masonry-body:before {
  border-left: 40px solid transparent;
  border-top: 40px solid;
  border-top-color: #008000;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-solved-topic .lia-messages-message-masonry-body:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #fff;
  content: "\f00c";
  font-size: 15.5px;
  position: absolute;
  right: 5px;
  top: 4px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-solved-topic .lia-messages-message-subject {
  padding-right: 20px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-body {
  padding: 10px 12px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-subject {
  display: inline-block;
  margin-bottom: 3px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-batch-processing {
  margin-right: 2.5px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-message-body {
  margin-bottom: 15px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-message-stats {
  padding-right: 16px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-author-name {
  border-top: 0;
  padding-top: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-message-stats-wrapper:after {
  background-color: #c4c4c4;
  content: '';
  display: block;
  height: 1px;
  margin-bottom: 0;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-topic-solved-status {
  display: none;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-topic-update-time {
  margin-top: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-topic-latest-text,
.blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-media-masonry-grid .lia-messages-message-topic-user-text {
  display: block;
}
.blog-post-container .blog-body .atvi-html .lia-media-publishing-history {
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #e8e8e8;
  padding-top: 16px;
}
.blog-post-container .blog-body .atvi-html .lia-media-publishing-history .lia-publishing-history-title {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  text-align: left;
  vertical-align: top;
  width: 100px;
}
.blog-post-container .blog-body .atvi-html .lia-media-publishing-history .lia-publishing-history-items {
  display: inline-block;
  margin-bottom: 0;
  width: calc(-45%);
}
.blog-post-container .blog-body .atvi-html .lia-media-publishing-history .lia-publishing-history-item {
  border-left: 3px solid #3e3e3e;
  margin: 0 0 16px 25px;
  padding-left: 25px;
}
.blog-post-container .blog-body .atvi-html .lia-media-publishing-history .lia-publishing-history-item .lia-publishing-history-row {
  margin: 0 0 10px;
}
.blog-post-container .blog-body .atvi-html .lia-media-publishing-history .lia-publishing-history-item .lia-publishing-history-item-subject {
  display: block;
  font-weight: bold;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid {
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: auto;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid .column {
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid .column:last-child .lia-messages-message-card {
  margin-right: 0;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid[deckgrid]::before {
  font-size: 0;
  visibility: visible;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid .column-1-1 {
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid .column-1-2 {
  width: 50%;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid .column-1-3 {
  width: 33.33333333%;
}
.blog-post-container .blog-body .atvi-html .lia-deckgrid .column-1-4 {
  width: 25%;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet {
  background-color: #e8e8e8;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-thumbnail {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-thumbnail a {
  position: relative;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-thumbnail a i {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-thumbnail a i:before {
  color: white;
  content: "\f144";
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
  text-rendering: auto;
  transform: translate(0, 0);
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-title {
  padding-bottom: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-title .lia-link-navigation {
  color: #3e3e3e;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-url {
  font-size: 11px;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-desc {
  color: #747474;
  font-size: 12px;
  margin-bottom: 20px;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-header {
  margin-bottom: 10px;
}
.blog-post-container .blog-body .atvi-html .lia-media-snippet-close {
  cursor: pointer;
  display: inline-block;
  float: right;
}
.blog-post-container .blog-body .atvi-html .lia-common-loading-dots.lia-common-loading-dots-small .lia-common-loading-dot {
  height: 5px;
  width: 5px;
}
.blog-post-container .blog-body .atvi-html .lia-common-loading-dots.lia-common-loading-dots-large .lia-common-loading-dot {
  height: 25px;
  width: 25px;
}
.blog-post-container .blog-body .atvi-html .lia-common-loading-dot {
  -webkit-animation: loading-dots 0.8s linear infinite;
  -o-animation: loading-dots 0.8s linear infinite;
  animation: loading-dots 0.8s linear infinite;
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  margin-right: 5px;
  text-align: center;
}
.blog-post-container .blog-body .atvi-html .lia-common-loading-dot:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  margin-left: 5px;
}
.blog-post-container .blog-body .atvi-html .lia-common-loading-dot:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.blog-post-container .blog-body .atvi-html .lia-common-loading-dot:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-loading-icon {
  z-index: 101;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-loading-icon .lia-common-loading-dots {
  text-align: center;
  margin-top: 50%;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-preview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: inherit;
  position: relative;
  width: inherit;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-preview:hover {
  cursor: move;
  opacity: .7;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-preview-overlay {
  background-color: #3e3e3e;
  content: '';
  height: inherit;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: 100;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-progress-bar {
  background-color: #fff;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-progress-bar.lia-progress-bar-animate .progress-bar {
  -webkit-animation: animate-stripes 3s linear infinite;
  -o-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
  background-image: linear-gradient(45deg, transparent 10%, #146cac 10%, #146cac 30%, transparent 30%, transparent 60%, #146cac 60%, #146cac 80%, transparent 80%);
  background-size: 16px 16px;
  transition: width .6s ease;
  width: 0;
  height: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile {
  overflow: hidden;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-caption,
.blog-post-container .blog-body .atvi-html .lia-media-image-progress-bar {
  float: left;
  font-size: 14px;
  height: 35px;
  line-height: 24px;
  margin: 1px 0 0;
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-caption-field {
  background: #fff;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  font-style: italic;
  height: 35px;
  line-height: 24px;
  padding: 0 5px;
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-caption-field:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-caption-field:focus::-ms-expand {
  display: none;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-display {
  background: #fff;
  height: 250px;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-footer {
  overflow: hidden;
  width: 100%;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-remove {
  float: right;
  padding: 5px;
}
.blog-post-container .blog-body .atvi-html .lia-media-image-tile-remove .lia-fa {
  cursor: pointer;
  font-size: 2em;
  position: relative;
  z-index: 102;
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-2 {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-2 .lia-common-loading-dots {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-3 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-3 .lia-common-loading-dots {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-4 {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-4 .lia-common-loading-dots {
  -webkit-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-5 {
  -moz-transform: rotate(270deg) rotateY(180deg);
  -o-transform: rotate(270deg) rotateY(180deg);
  -ms-transform: rotate(270deg) rotateY(180deg);
  -webkit-transform: rotate(270deg) rotateY(180deg);
  transform: rotate(270deg) rotateY(180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-5 .lia-common-loading-dots {
  -moz-transform: rotate(-270deg) rotateY(-180deg);
  -o-transform: rotate(-270deg) rotateY(-180deg);
  -ms-transform: rotate(-270deg) rotateY(-180deg);
  -webkit-transform: rotate(-270deg) rotateY(-180deg);
  transform: rotate(-270deg) rotateY(-180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-6 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-6 .lia-common-loading-dots {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-7 {
  -moz-transform: rotate(90deg) rotateY(180deg);
  -o-transform: rotate(90deg) rotateY(180deg);
  -ms-transform: rotate(90deg) rotateY(180deg);
  -webkit-transform: rotate(90deg) rotateY(180deg);
  transform: rotate(90deg) rotateY(180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-7 .lia-common-loading-dots {
  -moz-transform: rotate(-90deg) rotateY(-180deg);
  -o-transform: rotate(-90deg) rotateY(-180deg);
  -ms-transform: rotate(-90deg) rotateY(-180deg);
  -webkit-transform: rotate(-90deg) rotateY(-180deg);
  transform: rotate(-90deg) rotateY(-180deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-8 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.blog-post-container .blog-body .atvi-html .lia-image-orientation-8 .lia-common-loading-dots {
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
}
@-webkit-keyframes loading-dots {
  0% {
    background: #747474;
  }
  50% {
    background: #5d5d5d;
  }
  100% {
    background: #3e3e3e;
  }
}
@-moz-keyframes loading-dots {
  0% {
    background: #747474;
  }
  50% {
    background: #5d5d5d;
  }
  100% {
    background: #3e3e3e;
  }
}
@-ms-keyframes loading-dots {
  0% {
    background: #747474;
  }
  50% {
    background: #5d5d5d;
  }
  100% {
    background: #3e3e3e;
  }
}
@keyframes loading-dots {
  0% {
    background: #747474;
  }
  50% {
    background: #5d5d5d;
  }
  100% {
    background: #3e3e3e;
  }
}
@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@-ms-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global .lia-messages-message-masonry-body,
  .blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user .lia-messages-message-masonry-body {
    position: static;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-dialog {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-main-content-wrapper {
    bottom: 6.85714286em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-header-wrapper {
    display: none;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-dialog-content {
    display: block;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-global .lia-messages-message-masonry-body,
  .blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-float-type-user .lia-messages-message-masonry-body {
    position: relative;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-masonry-grid .lia-messages-message-masonry-card.lia-message-solved-topic .lia-messages-message-masonry-body {
    position: static;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-publishing-history .lia-publishing-history-title {
    display: block;
    margin: 0 0 16px 25px;
    text-align: left;
    width: auto;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-snippet-thumbnail {
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header {
    display: none;
  }
  .blog-post-container .blog-body .atvi-html .lia-content .lia-media-image-tile-caption-field.lia-media-image-tile-caption-field {
    border: 0;
    border-radius: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-image-tile-display {
    height: 85vw;
    width: 85vw;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-tile.lia-media-tile {
    display: inline-block;
    float: none;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    width: 85vw;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-body-side-panel {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .blog-post-container .blog-body .atvi-html .lia-deckgrid[deckgrid]::before {
    content: '4 .column.column-1-4';
  }
}
@media screen and (min-width: 767px) {
  .blog-post-container .blog-body .atvi-html .lia-media-album-list-title {
    font-weight: bold;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-list-title:hover {
    background-color: inherit;
    cursor: default;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector {
    position: relative;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-album-selector-column .lia-media-album-selector-album-list {
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-album-name {
    width: 80%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-album-name,
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-default-menu-option {
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selected-check {
    display: inline-block;
    width: 10%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector .lia-fa-folder-open {
    display: inline;
    padding-right: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-default-menu-option {
    max-width: 100%;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-default-menu-option:before {
    content: '';
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-header-component {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-header-component:hover {
    cursor: pointer;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-icon {
    color: #5d5d5d;
    min-width: 1.3em;
    padding-right: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-item {
    display: inline-block;
    padding: 0 12px;
    text-decoration: none;
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-item:hover {
    background-color: #e9faff;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-new-album-row input[type="text"].lia-form-album-input {
    display: inline-block;
    width: 80%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-menu-dropdown-items {
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-menu-dropdown-items-nested {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-tabs-sort.lia-media-uploader-tab-list {
    border: none;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-quilt-column {
    line-height: 48px;
    padding: 5px 20px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-media-uploader-header-album-selector-column,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-media-uploader-header-title-column,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-media-uploader-header-tabs-column {
    padding: 10px 20px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-media-uploader-header-close-column {
    padding: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-dialog-header .lia-media-uploader-tab-list {
    margin-bottom: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-close-column {
    position: absolute;
    right: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-visibility-hidden {
    visibility: hidden;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-close {
    padding: 5px;
    text-align: center;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector {
    font-size: 14px;
    line-height: 1.33333333;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-title-wrapper,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list {
    color: #5d5d5d;
    font-size: 16px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-title-wrapper .lia-fa.lia-fa-camera,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list .lia-fa.lia-fa-camera {
    color: #5d5d5d;
    margin-right: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-title-wrapper {
    padding: 10px 20px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list-link,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list-link-disabled {
    font-size: 14px;
    line-height: 1.33333333;
    padding: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list-link-disabled,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list-link:hover {
    background: #e8e8e8;
    border-radius: 2.5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-title {
    font-weight: normal200;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-image-upload-mobile-menu {
    display: none;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list {
    display: inline;
    margin-bottom: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-album-selector-column {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-close .lia-fa {
    color: #999;
    font-size: 19px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-header-close .lia-fa:hover {
    color: #5d5d5d;
    cursor: pointer;
  }
  .blog-post-container .blog-body .atvi-html .tab-close-focus:focus {
    border-bottom: 1px solid #5d5d5d;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab-list {
    float: right;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-tab {
    padding: 0 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-album-selector-label {
    display: none;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-no-formatting .lia-media-uploader-header-close {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-image-tile-display {
    float: left;
    width: 250px;
  }
  .blog-post-container .blog-body .atvi-html .lia-form-label.lia-media-uploader-formatting-label {
    display: block;
  }
  .blog-post-container .blog-body .atvi-html .lia-form-vertical .lia-media-uploader-side-panel-add .lia-button-wrapper {
    float: none;
    padding: 0;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-side-panel-add {
    height: 60px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-side-panel-add .lia-button-group {
    margin-bottom: 15px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-body-side-panel {
    border-left: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-body-side-panel .lia-quilt-column-20 {
    float: left;
    width: 85%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting {
    min-height: 355px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-title {
    font-size: 18px;
    font-weight: bolder;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: relative;
    left: 50%;
    padding: 0;
    width: 65%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-wrapper {
    line-height: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    overflow: hidden;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-image {
    color: #0c4167;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-center .lia-media-uploader-formatting-preview-image {
    display: block;
    text-align: center;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-empty .lia-media-uploader-formatting-around-image,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-inline .lia-media-uploader-formatting-around-image {
    display: inline-block;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-empty .lia-media-uploader-formatting-around-image + .lia-media-uploader-formatting-preview-text-bar,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-inline .lia-media-uploader-formatting-around-image + .lia-media-uploader-formatting-preview-text-bar {
    margin-top: 1px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-left .lia-media-uploader-formatting-preview-image {
    float: left;
    margin-right: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-align-right .lia-media-uploader-formatting-preview-image {
    float: right;
    margin-right: 5px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-arrangement-inline.lia-media-uploader-formatting-preview-size-small .lia-media-uploader-formatting-preview-image {
    font-size: 40px;
    height: 35px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-arrangement-inline.lia-media-uploader-formatting-preview-size-medium .lia-media-uploader-formatting-preview-image {
    font-size: 60px;
    height: 55px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-arrangement-inline.lia-media-uploader-formatting-preview-size-large .lia-media-uploader-formatting-preview-image {
    font-size: 75px;
    height: 65px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-arrangement-gallery .lia-media-uploader-formatting-preview-image {
    font-size: 40px;
    height: 35px;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-image-wrapper {
    display: inline-block;
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-text-bar {
    background-color: #8b8b8b;
    height: 5px;
    margin-top: 5px;
    overflow: hidden;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-text-bar-clear {
    clear: both;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-preview-text-bar-spacer {
    display: inline-block;
    height: 5px;
    width: 100%;
  }
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-side-panel-formatting {
    height: calc(40%);
    min-height: 395px;
    padding: 15px 0;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary {
    color: #3e3e3e;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    min-width: 0;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:after,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:before,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:after,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:before {
    color: #3e3e3e;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:focus,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:focus {
    color: #3e3e3e;
    background-color: #cfcfcf;
    border-color: #a8a8a8;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:hover,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:hover {
    color: #3e3e3e;
    background-color: #cfcfcf;
    border-color: #c9c9c9;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:hover:after,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:hover:before,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:hover:after,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:hover:before {
    color: #3e3e3e;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:active,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-active,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:active,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-active {
    color: #3e3e3e;
    background-color: #cfcfcf;
    border-color: #c9c9c9;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:active:hover,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary:active:focus,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-active:hover,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-active:focus,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:active:hover,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary:active:focus,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-active:hover,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-active:focus {
    color: #3e3e3e;
    background-color: #bdbdbd;
    border-color: #a8a8a8;
  }
  .blog-post-container .blog-body .atvi-html .lia-dropdown-open #lia-media-uploader-formatting-align .lia-button-secondary.lia-common-dropdown-toggle,
  .blog-post-container .blog-body .atvi-html .dropdownHover #lia-media-uploader-formatting-align .lia-button-secondary.default-menu-option,
  .blog-post-container .blog-body .atvi-html .lia-dropdown-open .lia-media-uploader-formatting-align .lia-button-secondary.lia-common-dropdown-toggle,
  .blog-post-container .blog-body .atvi-html .dropdownHover .lia-media-uploader-formatting-align .lia-button-secondary.default-menu-option {
    border-color: #c9c9c9;
  }
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary[disabled],
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary[disabled]:hover,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary[disabled]:focus,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary[disabled]:active,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled #lia-media-uploader-formatting-align .lia-button-secondary,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled #lia-media-uploader-formatting-align .lia-button-secondary:hover,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled #lia-media-uploader-formatting-align .lia-button-secondary:focus,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled #lia-media-uploader-formatting-align .lia-button-secondary:active,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled:hover,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled:focus,
  .blog-post-container .blog-body .atvi-html #lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled:active,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary[disabled],
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary[disabled]:hover,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary[disabled]:focus,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary[disabled]:active,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled .lia-media-uploader-formatting-align .lia-button-secondary,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled .lia-media-uploader-formatting-align .lia-button-secondary:hover,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled .lia-media-uploader-formatting-align .lia-button-secondary:focus,
  .blog-post-container .blog-body .atvi-html .lia-link-disabled .lia-media-uploader-formatting-align .lia-button-secondary:active,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled:hover,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled:focus,
  .blog-post-container .blog-body .atvi-html .lia-media-uploader-formatting-align .lia-button-secondary.lia-link-disabled:active {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
  }
}
@media screen and (min-width: 768px) {
  .blog-post-container .blog-body .atvi-html .lia-lightbox-dialog {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    height: 90%;
    min-height: 90%;
    min-width: 90%;
    width: 80%;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-main-content-wrapper {
    bottom: 6.85714286em;
    left: 0;
    position: absolute;
    right: 0;
    top: 68px;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-header-wrapper {
    padding: 10px 16px;
  }
  .blog-post-container .blog-body .atvi-html .lia-lightbox-dialog-content {
    display: table;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .blog-post-container .blog-body .atvi-html .lia-deckgrid[deckgrid]::before {
    content: '1 .column';
  }
}
@media screen and (max-width: 480px) {
  .blog-post-container .blog-body .atvi-html .lia-deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .blog-post-container .blog-body .atvi-html .lia-deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .blog-post-container .blog-body .atvi-html .lia-deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
  }
}
.addthis-smartlayers-mobile.at-share-dock-outer {
  display: none !important;
}

.blog-post-container {
  font-family: Arial, sans-serif;
}
.blog-post-container.bo4 .feature-header h1,
.blog-post-container.bo3 .feature-header h1,
.blog-post-container.bo2 .feature-header h1 {
  color: #ff6600;
}
.blog-post-container.wwii .feature-header h1 {
  color: #9f912a;
}
.blog-post-container.iw .feature-header h1 {
  color: #ffff03;
}
.blog-post-container.aw .feature-header h1 {
  color: #9e922c;
}
.blog-post-container.mwr .feature-header h1,
.blog-post-container.mw3 .feature-header h1 {
  color: #99cc00;
}
.blog-post-container.ghosts .feature-header h1 {
  color: #6e8fac;
}
.blog-header .blog-header-container {
  height: 650px;
  position: relative;
}
.blog-header .feature-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog-header .feature-img .d-img,
.blog-header .feature-img .m-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog-header .feature-img .m-img {
  display: none;
}
.blog-header .feature-header {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
}
.blog-header .feature-header h1 {
  padding: 0;
  font-size: 54px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.11;
  font-family: 'Open Sans Condensed', sans-serif !important;
  position: relative;
}
.blog-header .feature-header .feature-sub h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.blog-header .feature-header .feature-sub p {
  margin-bottom: 0;
}
.blog-header .feature-header .feature-sub a {
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .blog-header .feature-img .m-img {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
  }
  .blog-header .feature-img .d-img {
    display: none;
  }
  .blog-header .blog-header-container {
    height: auto;
  }
  .blog-header .feature-header {
    position: relative;
    bottom: auto;
  }
  .blog-header .feature-img {
    position: relative;
    right: auto;
    bottom: auto;
  }
  .blog-header .feature-header h1 {
    font-size: 30px;
  }
  .blog-header .feature-header .feature-sub {
    margin-top: 15px;
  }
  .blog-header .feature-header .feature-sub h2 {
    font-size: 16px;
  }
  .blog-header .feature-header .feature-sub p {
    font-size: 14px;
  }
}

