@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
.hero {
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.hero:after {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 10em;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 65%);
  z-index: 0;
}
@media screen and (max-width: 1280px) {
  .hero:after {
    height: 10em;
  }
}
.hero .bg-container,
.hero .html5-container {
  position: relative;
}
.hero .bg-container:before,
.hero .html5-container:before {
  display: block;
  content: '';
  width: 100%;
  height: 0;
  padding-top: 25%;
}
@media screen and (max-width: 1280px) {
  .hero .bg-container,
  .hero .html5-container {
    position: relative;
  }
  .hero .bg-container:before,
  .hero .html5-container:before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-top: 31.25%;
  }
}
@media screen and (max-width: 768px) {
  .hero .bg-container,
  .hero .html5-container {
    position: relative;
  }
  .hero .bg-container:before,
  .hero .html5-container:before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
}
.hero .bg-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero .bg-container .bg.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero .bg-container .bg.desktop {
    display: none;
  }
  .hero .bg-container .bg.mobile {
    display: block;
  }
}
.hero .html5-container .bg-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero .html5-container .bg-video.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero .html5-container .bg-video.mobile {
    display: block;
  }
  .hero .html5-container .bg-video.desktop {
    display: none;
  }
}
.hero .play-container {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hero .play-container button.play-icon {
  min-height: 16px;
  padding: 12px 20px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #81898c;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  width: fit-content;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/global-nav-bg-mobile.png');
  background-size: 2px;
  box-shadow: inset 0px 0px 5px #81898c;
  border: 1px solid #81898c;
  cursor: pointer;
  text-decoration: none;
  width: 60px;
  height: 60px;
  padding: 0px;
  background-color: transparent;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/blue-tile.png');
  background-color: #242424;
  box-shadow: inset 0px 0px 5px #597985;
  border: 1px solid #597985;
}
.hero .play-container button.play-icon:after,
.hero .play-container button.play-icon:before {
  width: 100%;
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.5), #ffffff 20%, #ffffff 80%, rgba(250, 250, 250, 0.5));
  transition: all ease .8s;
  transform: scaleX(0);
  top: -1px;
  left: 0;
}
.hero .play-container button.play-icon:after {
  bottom: -1px;
  top: initial;
}
.hero .play-container button.play-icon:before {
  color: #b6bec0;
  text-shadow: 0px 0px 10px #ffffff;
}
.hero .play-container button.play-icon:hover {
  background-color: #627f53;
  color: #c7cac6;
}
.hero .play-container button.play-icon:hover:after,
.hero .play-container button.play-icon:hover:before {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  transform: scaleX(1);
  box-shadow: 0px 0px 10px;
}
.hero .play-container button.play-icon:before,
.hero .play-container button.play-icon:after {
  background-image: linear-gradient(to right, rgba(151, 205, 225, 0.5), #79d9ff 20%, #79d9ff 80%, rgba(151, 205, 225, 0.5));
}
.hero .play-container button.play-icon:hover {
  background-color: #282828;
}
.hero .play-container button.play-icon .play {
  position: relative;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
  cursor: pointer;
}
.hero .play-container button.play-icon .play:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 16px solid #597985;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.hero .play-container button.play-icon .play:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
  border-left: 16px solid #79d9ff;
}
.hero .play-container button.watch-trailer {
  min-height: 16px;
  padding: 12px 20px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #81898c;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  width: fit-content;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/global-nav-bg-mobile.png');
  background-size: 2px;
  box-shadow: inset 0px 0px 5px #81898c;
  border: 1px solid #81898c;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 0px 0px #97cde1;
  background-color: transparent;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/blue-tile.png');
  background-color: #242424;
  color: #94bbc2;
  box-shadow: inset 0px 0px 5px #597985;
  border: 1px solid #597985;
}
.hero .play-container button.watch-trailer:after,
.hero .play-container button.watch-trailer:before {
  width: 100%;
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.5), #ffffff 20%, #ffffff 80%, rgba(250, 250, 250, 0.5));
  transition: all ease .8s;
  transform: scaleX(0);
  top: -1px;
  left: 0;
}
.hero .play-container button.watch-trailer:after {
  bottom: -1px;
  top: initial;
}
.hero .play-container button.watch-trailer:before {
  color: #b6bec0;
  text-shadow: 0px 0px 10px #ffffff;
}
.hero .play-container button.watch-trailer:hover {
  background-color: #627f53;
  color: #c7cac6;
}
.hero .play-container button.watch-trailer:hover:after,
.hero .play-container button.watch-trailer:hover:before {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  transform: scaleX(1);
  box-shadow: 0px 0px 10px;
}
.hero .play-container button.watch-trailer:before,
.hero .play-container button.watch-trailer:after {
  background-image: linear-gradient(to right, rgba(151, 205, 225, 0.5), #79d9ff 20%, #79d9ff 80%, rgba(151, 205, 225, 0.5));
}
.hero .play-container button.watch-trailer:hover {
  background-color: #282828;
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}
html.aem-AuthorLayer-Edit .modal-container .video-modal {
  display: block !important;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
.video-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999;
}
.video-modal .modal-close {
  min-height: 16px;
  padding: 12px 20px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #81898c;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  width: fit-content;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/global-nav-bg-mobile.png');
  background-size: 2px;
  box-shadow: inset 0px 0px 5px #81898c;
  border: 1px solid #81898c;
  cursor: pointer;
  text-decoration: none;
  width: 60px;
  height: 60px;
  padding: 0px;
  background-color: transparent;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/blue-tile.png');
  background-color: #242424;
  box-shadow: inset 0px 0px 5px #597985;
  border: 1px solid #597985;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.video-modal .modal-close:after,
.video-modal .modal-close:before {
  width: 100%;
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.5), #ffffff 20%, #ffffff 80%, rgba(250, 250, 250, 0.5));
  transition: all ease .8s;
  transform: scaleX(0);
  top: -1px;
  left: 0;
}
.video-modal .modal-close:after {
  bottom: -1px;
  top: initial;
}
.video-modal .modal-close:before {
  color: #b6bec0;
  text-shadow: 0px 0px 10px #ffffff;
}
.video-modal .modal-close:hover {
  background-color: #627f53;
  color: #c7cac6;
}
.video-modal .modal-close:hover:after,
.video-modal .modal-close:hover:before {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  transform: scaleX(1);
  box-shadow: 0px 0px 10px;
}
.video-modal .modal-close:before,
.video-modal .modal-close:after {
  background-image: linear-gradient(to right, rgba(151, 205, 225, 0.5), #79d9ff 20%, #79d9ff 80%, rgba(151, 205, 225, 0.5));
}
.video-modal .modal-close:hover {
  background-color: #282828;
}
.video-modal .modal-close .close {
  position: relative;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}
.video-modal .modal-close .close:after,
.video-modal .modal-close .close:before {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  position: absolute;
  background-color: #597985;
  left: calc(50% - 15px);
  top: 50%;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.video-modal .modal-close .close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.video-modal .modal-close .close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.video-modal .modal-close .close:hover:after,
.video-modal .modal-close .close:hover:before {
  width: 36px;
  left: calc(50% - 18px);
  background-color: #79d9ff;
}
.video-modal .modal-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-modal .modal-inner .atvi-video .external-link-overlay {
  display: none;
}
.video-modal .modal-inner .atvi-video .controls {
  position: relative;
}
.video-modal .modal-inner .atvi-video .controls .controls-container {
  display: block;
}
.video-modal img {
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
.hero .smoke {
  content: "";
  width: 300px;
  height: 200px;
  background-image: url("../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/smoke.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: absolute;
  -webkit-animation: 10s ease-out smoke infinite;
  -moz-animation: 10s ease-out smoke infinite;
  -o-animation: 10s ease-out smoke infinite;
  animation: 10s ease-out smoke infinite;
  left: 40%;
  top: 65%;
  opacity: 0;
  pointer-events: none;
}
.hero .smoke.two {
  -webkit-animation: 10s ease-out smoke infinite 5s;
  -moz-animation: 10s ease-out smoke infinite 5s;
  -o-animation: 10s ease-out smoke infinite 5s;
  animation: 10s ease-out smoke-two infinite 5s;
}
.hero .smoke.three {
  -webkit-animation: 10s ease-out smoke infinite 2s;
  -moz-animation: 10s ease-out smoke infinite 2s;
  -o-animation: 10s ease-out smoke infinite 2s;
  animation: 10s ease-out smoke infinite 2s;
  left: 20%;
  top: 65%;
}
.hero .smoke.four {
  -webkit-animation: 10s ease-out smoke infinite 7s;
  -moz-animation: 10s ease-out smoke infinite 7s;
  -o-animation: 10s ease-out smoke infinite 7s;
  animation: 10s ease-out smoke-two infinite 7s;
  left: 15%;
  top: 50%;
}
.hero .ka-container.stop-smoke .smoke {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
@keyframes smoke {
  0% {
    -webkit-transform: rotate(0deg) scale(5) translateY(0px) translateX(80px);
    -moz-transform: rotate(0deg) scale(5) translateY(0px) translateX(80px);
    -ms-transform: rotate(0deg) scale(5) translateY(0px) translateX(80px);
    -o-transform: rotate(0deg) scale(5) translateY(0px) translateX(80px);
    transform: rotate(0deg) scale(5) translateY(0px) translateX(80px);
    opacity: 0;
  }
  20%,
  80% {
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(5) translateY(-100px) translateX(120px);
    -moz-transform: rotate(0deg) scale(5) translateY(-100px) translateX(120px);
    -ms-transform: rotate(0deg) scale(5) translateY(-100px) translateX(120px);
    -o-transform: rotate(0deg) scale(5) translateY(-100px) translateX(120px);
    transform: rotate(0deg) scale(5) translateY(-100px) translateX(120px);
    opacity: 0;
  }
}
@keyframes smoke-two {
  0% {
    -webkit-transform: rotate(180deg) scale(5) translateY(0px) translateX(0px);
    -moz-transform: rotate(180deg) scale(5) translateY(0px) translateX(0px);
    -ms-transform: rotate(180deg) scale(5) translateY(0px) translateX(0px);
    -o-transform: rotate(180deg) scale(5) translateY(0px) translateX(0px);
    transform: rotate(180deg) scale(5) translateY(0px) translateX(0px);
    opacity: 0;
  }
  20%,
  80% {
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(5) translateY(80px) translateX(50px);
    -moz-transform: rotate(180deg) scale(5) translateY(80px) translateX(50px);
    -ms-transform: rotate(180deg) scale(5) translateY(80px) translateX(50px);
    -o-transform: rotate(180deg) scale(5) translateY(80px) translateX(50px);
    transform: rotate(180deg) scale(5) translateY(80px) translateX(50px);
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/home/common/noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
body {
  overflow-x: hidden;
  background-color: #000 !important;
}
.hero {
  margin-top: 0 !important;
}
.hero .bg-container,
.hero .html5-container {
  position: relative;
}
.hero .bg-container:before,
.hero .html5-container:before {
  display: block;
  content: '';
  width: 100%;
  height: 0;
  padding-top: 26.04166667%;
}
@media screen and (max-width: 768px) {
  .hero .bg-container,
  .hero .html5-container {
    position: relative;
  }
  .hero .bg-container:before,
  .hero .html5-container:before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
}
.hero .play-container {
  top: 33%;
}
@media screen and (max-width: 768px) {
  .hero .play-container {
    top: 30%;
  }
}
.hero:after {
  height: 40%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 80%);
}
@media screen and (max-width: 768px) {
  .hero:after {
    height: 70%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 50%);
  }
}
.cod-game-header .desktop-header .nav-right .purchase {
  display: none;
}
.cod-game-header-container .mobile-header .mobile-purchase a {
  display: none;
}
.wtb-component .atvi-wheretobuy {
  margin: -12% auto 100px;
  background-color: transparent !important;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /*@media screen and (min-width: 768px) {



        //removes margin-top & prevents item-4 from extending past container
        .inner {
			margin-top: 0 !important;
        }

        .-item {
            &.four { height: 22.8vw !important;}
        }
    }

    @media screen and (max-width: 768px) { margin: -60% auto 100px !important; }

    @media screen and (max-width: 767px) {



        //height: 900px !important;

        &.fixed-post {
            > div {
				margin-top: 0 !important;
            }
        }
    }
    */
}
@media screen and (max-width: 768px) {
  .wtb-component .atvi-wheretobuy {
    position: relative;
    margin: -50% auto 100px !important;
  }
}
@media screen and (max-width: 767px) {
  .wtb-component .atvi-wheretobuy > .inner {
    margin-top: 0;
  }
}

body.target-active div.container {
  padding: 0;
}
body.target-active .hero .play-container {
  top: 50%;
}
body.target-active .hero {
  margin-top: 0;
}
body.target-active .section-blur {
  overflow-x: hidden;
  margin-top: 0 !important;
}
body.target-active .atvi-wheretobuy {
  margin: 100px auto;
}
@media screen and (min-width: 768px) {
  body.target-active .wtb-component .atvi-wheretobuy {
    margin: 100px auto;
  }
  body.target-active .-item.four {
    height: 10vw !important;
  }
}
@media screen and (max-width: 768px) {
  body.target-active .subscribe-modal {
    margin-top: -30%;
  }
}

