@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.intel-container {
  background: black;
  position: relative;
  /*BORDERS*/
}
.intel-container .main-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 75px 25px;
  /*&.no-beta {
            .intel {
				border-right: none;

                @media screen and (max-width: 768px) {
                    .mobile {
						display: none;
                    }
                }
            }
        }*/
}
.intel-container .main-container .intel,
.intel-container .main-container .beta {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 25px 0;
  text-align: center;
}
.intel-container .main-container .intel .intel-header {
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #34322e, 0px 0px 10px #ffffff;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto 25px;
}
.intel-container .main-container .intel .cta-container {
  min-width: 250px;
  height: 40px;
  background-color: #191919;
  display: inline-block;
  margin: 0 auto;
}
.intel-container .main-container .intel .cta-container a {
  color: #adabab;
  border: 2px solid #565656;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(125, 125, 125, 0.2);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #ffffff;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.intel-container .main-container .intel .cta-container a:hover {
  color: #ffffff;
  background-color: #3c3c3c;
  border: 2px solid #ffffff;
}
.intel-container .main-container .intel .mobile {
  display: none;
}
.intel-container .main-container .beta {
  display: none;
}
.intel-container .main-container .beta img {
  width: 40%;
  margin: 0 auto 25px;
}
.intel-container .main-container .beta .cta-container {
  min-width: 250px;
  height: 40px;
  background-color: #713000;
  display: inline-block;
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
.intel-container .main-container .beta .cta-container a {
  color: #ffffff;
  background-color: #713000;
  border: 2px solid #f07113;
  font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/splash/button-tile.svg) center center repeat;
  box-shadow: 3px 3px 10px 1px rgba(240, 113, 19, 0.6);
  display: block;
  letter-spacing: 3px;
  text-shadow: 0px 0px 18px #f07113;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
  cursor: pointer;
}
.intel-container .main-container .beta .cta-container a:hover {
  color: #ffffff;
  background-color: #aa4800;
}
.intel-container .border-top {
  width: 100%;
  height: 8px;
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
  background-size: 4px;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.intel-container .border-bottom {
  width: 100%;
  height: 8px;
  content: "";
  background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
  background-size: 4px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .intel-container .main-container {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
  .intel-container .main-container .intel {
    border-right: none;
    margin-top: 40px;
  }
  .intel-container .main-container .intel .intel-header {
    width: 80%;
  }
  .intel-container .main-container .intel .cta-container {
    margin-bottom: 50px;
  }
  .intel-container .main-container .intel .mobile {
    width: 100%;
    height: 8px;
    content: "";
    background: url(../../../../../../../../content/dam/atvi/callofduty/blackops4/home/break-tile.svg) top center repeat;
    background-size: 4px;
    background-color: transparent;
    position: absolute;
    position: relative;
  }
  .intel-container .main-container .beta img {
    width: 80%;
    margin: 20px auto 25px;
  }
  .intel-container .main-container .beta .cta-container {
    margin-bottom: 50px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
body.ar .intel-container .main-container .intel {
  border-right: none;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 768px) {
  body.ar .intel-container .main-container .intel {
    border-left: none;
  }
}

